{% extends '../accommodations/accommodation-base.html' %} 
{% load static %} 
{% block content %}
<ol class="breadcrumb">
    <li><a href="/listing/accommodations">Accommodations</a></li>
</ol>
<div class="row">
    <div class="form-group col-sm-8">
        <header class="section-title">
            <h1 class="catamaran">Add new room</h1>
            <h4 style='color:red'>{{ request.session.room_error }}</h4>
        </header>
    </div>
</div>
<div class="panel">
    <div class="panel-body -airy">
        <form method="POST" class="has-fixed-actions js-room-basics" action="{% url 'listings:add-room' pk=acc.id %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="website" class="control-label">Type of room</label>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <select name="room_type_id" id="room_type_id" class="form-control">
                            <option value="">-- pick a type --</option>
                            
                                <option value="1">Single Room</option>
                            
                                <option value="2">Double Room</option>
                            
                                <option value="3">Twin Room</option>
                            
                                <option value="4">Triple Room</option>
                            
                                <option value="5">Quadruple Room</option>
                            
                                <option value="6">Dorm</option>
                            
                        </select>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="website" class="control-label">Give it a name</label>
                        <div class="form-helper">
                            <p>Optional: it's for internal use, so it's easy to recognize it</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" name="room_name" id="room_name" placeholder="Internal Name" value="">
                    </div>
                </div>
            </div>

            <div class="row js-share-container">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="website" class="control-label">Sharing</label>
                        <div class="form-helper">
                            <p>Do you have the same room type for shared and private? Please create it twice with different sharing setting</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="checkbox">
                            <label style="padding-left: 0; display: flex;">
                                <input type="radio" name="room_share_type" class="js-select-private-room" selected>
                                <span style="padding-left: 15px;">
                                    <strong>Private room</strong><br>(solo travelers or guests traveling together will have it for themselves)
                                </span>
                            </label>
                        </div>

                        <div class="checkbox">
                            <label style="padding-left: 0; display: flex;">
                                <input type="radio" name="room_share_type" class="js-select-shared-room">
                                <span style="padding-left: 15px;">
                                    <strong>Shared room</strong> <br>(guests will share it with other travelers)
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="website" class="control-label">Maximum occupanccy</label>
                        <div class="form-helper">
                            <p>How many guests this room can accommodate?</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" id="nr_people_share" placeholder="How many can this room accommodate?" value="0" name="nr_people_share">
                    </div>
                </div>
            </div>


            <div class="fixed-actions fixed-actions--bottom fixed-actions--right">

                <a id="cancel" class="btn btn-danger" href="/4/organizers/23069/accommodation/"><i class="fa fa-times"></i> Cancel</a>

                <button type="submit" class="btn btn-success">Save new room</button>

            </div>

        </form>
    </div>
</div>

{% endblock %}