{% load static %}
{% load humanize %}
{% load socialaccount %}
{% load crispy_forms_tags %}  
{% load i18n %}

<!DOCTYPE html>
<html lang=en>
   <head>
      <link rel=preconnect href="https://photos.tpn.to">
      <link rel=preconnect href="https://fonts.googleapis.com">
      <link rel=stylesheet href="{% static 'css/main.css' %}">
      <link rel=stylesheet href="{% static 'css/inbox.css' %}">
      <link rel=stylesheet href="{% static 'css/customer.css' %}">
      <link rel=stylesheet href="{% static 'css/framework.css' %}">
      <link rel=stylesheet href="{% static 'css/style.css' %}">
      <script src='https://use.fontawesome.com/1b83a1e349.js'></script>
      
      <style>@font-face {
         font-family: "ebs-fonticon";
         font-display: block;
         font-weight: 400;
         font-style: normal;
         src: local('ebs-fonticon'),
         url('/static/fonts/ebs-fonticon/ebs-fonticon.eot?v=yYobSbilW');
         src: url('/static/fonts/ebs-fonticon/ebs-fonticon.eot?v=yYobSbilW#iefix') format("embedded-opentype"),
         url('/static/fonts/ebs-fonticon/ebs-fonticon.woff2?v=yYobSbilW') format("woff2"),
         url('/static/fonts/ebs-fonticon/ebs-fonticon.woff?v=yYobSbilW') format("woff"),
         url('/static/fonts/ebs-fonticon/ebs-fonticon.ttf?v=yYobSbilW') format("truetype"),
         url('/static/fonts/ebs-fonticon/ebs-fonticon.svg?v=yYobSbilW#ebs-fonticon') format("svg");
         }
      </style>
      <script data-should-stay>window.dataLayer = window.dataLayer || [];
         dataLayer.push({"platformId":3,"platformName":"BookYogaRetreats","platformVersion":"88a94e0653","platformEnvironment":"live","pageType":"CustomerInbox","pageId":111,"sessionCurrency":"CAD","userLanguage":"en","viewUUID":"610bc8b2ec56a80900b391f2"});dataLayer.push({"customerEmailSubscribed":false,"customerLoginStatus":"logged-in","customerId":"1434428","loginId":"1434428","userId":"1434428","inquiryNumberLast30Days":0,"firstName":"Amirrca","lastName":"Amirrca","email":"amirrca@yahoo.com"});dataLayer.push({"goals":{"did_not_bounce":true}});
         (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
         new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
         j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
         'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
         })(window,document,'script','dataLayer','GTM-W48MKS');
      </script>
      <title>Messages - BookYogaRetreats.com</title>
      <link rel=apple-touch-icon sizes=180x180 href="/static/favicon/apple-touch-icon.png?v=16">
      <link rel=icon type="image/png" sizes=32x32 href="/static/favicon/favicon-32x32.png?v=16">
      <link rel=icon type="image/png" sizes=16x16 href="/static/favicon/favicon-16x16.png?v=16">
      <link rel=manifest href="/static/favicon/site.webmanifest?v=16">
      <link rel=mask-icon color="#00c09c" href="/static/favicon/safari-pinned-tab.svg?v=16">
      <link rel="shortcut icon" href="/static/favicon/favicon.ico?v=16">
      <meta content="#da532c" name=msapplication-TileColor>
      <meta content="/static/favicon/browserconfig.xml?v=16" name=msapplication-config>
      <meta content="#f7f7f7" name=theme-color>
      <link rel=canonical href="https://www.bookyogaretreats.com/customer/messages">
      <meta content=public http-equiv=Cache-control>
      <meta content name=description>
      <meta content name=keywords>
      <meta property=fb:admins content="book.yogaretreats,
         rob.holland.378,
         robertdenhollander">
      <meta property=fb:app_id content=578121312206944>
      <meta content=478732585615-s8dg6osif5kqmls43gj8ape4o698i9j4.apps.googleusercontent.com name=google-signin-client_id>
      <meta content="width=device-width, initial-scale=1.0" name=viewport>
      <meta content="https://www.tripaneer.com/static/files/hero/BookMeditationRetreats_mobile.jpg" name=image>
      <meta content="Messages - BookYogaRetreats.com" itemprop=name>
      <meta content itemprop=description>
      <meta content="/static/files/social-share/social-share-3.jpg" itemprop=image>
      <meta content=summary name=twitter:card>
      <meta content="Messages - BookYogaRetreats.com" name=twitter:title>
      <meta content name=twitter:description>
      <meta content="https://twitter.com/book_yoga" name=twitter:site>
      <meta content="/static/files/social-share/social-share-3.jpg" name=twitter:image:src>
      <meta property=og:title content="Messages - BookYogaRetreats.com">
      <meta property=og:description content>
      <meta property=og:image content="/static/files/social-share/social-share-3.jpg">
      <meta property=og:url content="https://www.bookyogaretreats.com/customer/messages?message=1298185">
      <meta property=og:site_name content=BookYogaRetreats.com>
      <meta property=og:type content=website>
      <link rel=stylesheet type="text/css" href="{% static 'css/footerSubscribe.css' %}">
      <link rel=stylesheet type="text/css" href="{% static 'css/footer.css' %}">
   </head>
   {% include '../listings/head-banner.html' %}
      <div class=inbox>
         <header class=inbox--header>
            <div class=inbox--header--wrapper>
               <div class="inbox--header--inboxes column">
                  <button class="bttn toggle-pane toggle-inboxes">
                     <span aria-hidden=true>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
                           <path d="M30.5 27.9L20.6 18 30.7 7.9c.8-.8.8-2.1 0-2.8-.8-.8-2.1-.8-2.8 0L17.8 15.2 7.9 5.3c-.8-.8-2.1-.8-2.8 0-.8.8-.8 2.1 0 2.8L15 18l-9.7 9.7c-.8.8-.8 2.1 0 2.8.8.8 2.1.8 2.8 0l9.7-9.7 9.9 9.9c.8.8 2.1.8 2.8 0 .8-.7.8-2 0-2.8z"></path>
                        </svg>
                     </span>
                  </button>
                  <h1>Filter Messages</h1>
               </div>
               <div class="inbox--header--threads column">
                  <button class="bttn toggle-pane toggle-inboxes">
                     <span aria-hidden=true>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
                           <path d="M30.8 0H5.2C3.7 0 2.3.9 1.8 2.2c-.6 1.4-.2 3 .8 4l8.9 8.9v17.2c0 1.5.9 2.8 2.2 3.4 1.4.6 3 .3 4-.8l5.8-5.8c.7-.7 1.1-1.6 1.1-2.6V15l8.8-8.7c1.1-1.1 1.4-2.7.8-4C33.7.9 32.3 0 30.8 0zm-9.3 13c-.4.4-.6.8-.6 1.3v12.2l-5.8 5.8V14.5c0-.5-.2-1-.6-1.3L5.2 3.7h25.6L21.5 13z"></path>
                        </svg>
                     </span>
                  </button>
                  <h1>My Past Trips</h1>
                  <div class=grouping-select-wrapper>
                     <select name=grouping-select class="select-css grouping-select">
                        <option value=no-grouping selected>No grouping</option>
                        <option value=by-arrival>Group by arrival month</option>
                        <option value=by-organizer>Group by organizer</option>
                        <option value=by-country>Group by country</option>
                     </select>
                  </div>
               </div>
               <div class="inbox--header--conversation column">
                  <button title="Go back to your inbox" class="toggle-pane bttn close-message round">
                     <span aria-hidden=true>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
                           <path d="M12.8 5.4l2.9 2.9-7.9 7.5h28.1v4.4H7.8l7.9 7.5-2.9 2.9L-.1 18 12.8 5.4z"></path>
                        </svg>
                     </span>
                  </button>
                  <h1 class=conversation--title>&nbsp;</h1>
               </div>
            </div>
         </header>
         <div class='inbox--body' style='display:block' >

            <div class="threads is-scrollable">


<style>

.rate1:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate1:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate1:not(:checked):not(:checked) > label:before {
    content: '★ ';
}
.rate1 > input:checked ~ label {
    color: #ffc700;    
}
.rate1:not(:checked) > label:hover,
.rate1:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate1 > input:checked + label:hover,
.rate1 > input:checked + label:hover ~ label,
.rate1 > input:checked ~ label:hover,
.rate1 > input:checked ~ label:hover ~ label,
.rate1 > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.rate2:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate2:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate2:not(:checked):not(:checked) > label:before {
    content: '★ ';
}
.rate2 > input:checked ~ label {
    color: #ffc700;    
}
.rate2:not(:checked) > label:hover,
.rate2:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate2 > input:checked + label:hover,
.rate2 > input:checked + label:hover ~ label,
.rate2 > input:checked ~ label:hover,
.rate2 > input:checked ~ label:hover ~ label,
.rate2 > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


.rate3:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate3:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate3:not(:checked):not(:checked) > label:before {
    content: '★ ';
}
.rate3 > input:checked ~ label {
    color: #ffc700;    
}
.rate3:not(:checked) > label:hover,
.rate3:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate3 > input:checked + label:hover,
.rate3 > input:checked + label:hover ~ label,
.rate3 > input:checked ~ label:hover,
.rate3 > input:checked ~ label:hover ~ label,
.rate3 > label:hover ~ input:checked ~ label {
    color: #c59b08;
}



.rate4:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate4:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate4:not(:checked):not(:checked) > label:before {
    content: '★ ';
}
.rate4 > input:checked ~ label {
    color: #ffc700;    
}
.rate4:not(:checked) > label:hover,
.rate4:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate4 > input:checked + label:hover,
.rate4 > input:checked + label:hover ~ label,
.rate4 > input:checked ~ label:hover,
.rate4 > input:checked ~ label:hover ~ label,
.rate4 > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.rate5:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate5:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate5:not(:checked):not(:checked) > label:before {
    content: '★ ';
}
.rate5 > input:checked ~ label {
    color: #ffc700;    
}
.rate5:not(:checked) > label:hover,
.rate5:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate5 > input:checked + label:hover,
.rate5 > input:checked + label:hover ~ label,
.rate5 > input:checked ~ label:hover,
.rate5 > input:checked ~ label:hover ~ label,
.rate5 > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
</style>
                  

         <section class="admin-content  js-active-tab-name" data-tab-name='Reviews' id="review_list">
            <header class="section-title">
               <h1 class="catamaran">Reviews</h1>
               <small class="title-description">Leave a review for one of your past bookings to improve our community and enhance your future experiences</small>
            </header>
            <input type="hidden" value="en" class="js-user-language"/>
            <form method="POST" action=''>
            {% csrf_token %}
            <div class="panel panel-default panel--review js-expand-container" id="44510" style='width:90%'>
               <div class="panel-body">
                  <div class="row">
                     <div class="col-sm-8">
                        <div class="review-container">
                           <div class="review" style='max-height:100%'>
                              <div class="review__credit review__credit--review">
                                
                                 <!-- todo: get country -->
                                 <!-- Review by <strong>Katherine L.</strong> from country name -->
                              </div>
                              <div class="review__date">
                                 <span
                                    class="js-to-local-date"
                                    data-iso-string="2021-07-23"
                                    >
                                 From {{ inquiry.arrival_date }} until {{ inquiry.departure_date }}
                                 </span>
                                 |
                                 <a href="{% url 'listings:listing_detail' inquiry.listing.pk inquiry.listing.slug %}">
                                 {{ inquiry.listing.title }}
                                 </a>
                              </div>
                              <table class="review__table">
                                 <tbody>
                                    <tr>
                                       <td></td>
                                       <td>
                                          <h3 class="title review__highlight">
                                          </h3>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="review__thumbs">
                                          <i class="fa fa-thumbs-up"></i>
                                       </td>
                                       <td>{{ form.positive_info|as_crispy_field }}
                                       </td>
                                    </tr>
                                    <tr>
                                       <td class="review__thumbs">
                                          <i class="fa fa-thumbs-down"></i>
                                       </td>
                                       <td>{{ form.negative_info|as_crispy_field }}
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-4" style='margin-top: 100px'>

                        <ul class="review__ratings">
                           <input type="hidden" name="inquiryID" value="{{ inquiry.pk }}">
                           <input type="hidden" name="listingID" value="{{ inquiry.listing.id }}">
                           <li class="review__ratings__overall">
                              <span>Value for money</span>
                              <div class='stars'>
                                 <div class="rate1">
                                    <input type="radio" id="star5" name="rate1" value="5" />
                                    <label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="rate1" value="4" />
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="rate1" value="3" />
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="rate1" value="2" />
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="rate1" value="1" />
                                    <label for="star1" title="text">1 star</label>
                                  </div>
                              </div>
                           </li>
                           <li class="review__ratings__overall">
                              <span>Accommodation &amp; facilities</span>
                              <div class='stars'>
                                 <div class="rate2">
                                    <input type="radio" id="star10" name="rate2" value="5" />
                                    <label for="star10" title="text">5 stars</label>
                                    <input type="radio" id="star9" name="rate2" value="4" />
                                    <label for="star9" title="text">4 stars</label>
                                    <input type="radio" id="star8" name="rate2" value="3" />
                                    <label for="star8" title="text">3 stars</label>
                                    <input type="radio" id="star7" name="rate2" value="2" />
                                    <label for="star7" title="text">2 stars</label>
                                    <input type="radio" id="star6" name="rate2" value="1" />
                                    <label for="star6" title="text">1 star</label>
                                  </div>  
                              </div>
                           </li>
                           <li class="review__ratings__overall">
                              <span>Food</span>
                              <div class='stars'>
                                 <div class="rate3">
                                    <input type="radio" id="star15" name="rate3" value="5" />
                                    <label for="star15" title="text">5 stars</label>
                                    <input type="radio" id="star14" name="rate3" value="4" />
                                    <label for="star14" title="text">4 stars</label>
                                    <input type="radio" id="star13" name="rate3" value="3" />
                                    <label for="star13" title="text">3 stars</label>
                                    <input type="radio" id="star12" name="rate3" value="2" />
                                    <label for="star12" title="text">2 stars</label>
                                    <input type="radio" id="star11" name="rate3" value="1" />
                                    <label for="star11" title="text">1 star</label>
                                  </div>  
                              </div>
                           </li>
                           <li class="review__ratings__overall">
                              <span>Location</span>
                              <div class='stars'>
                                 <div class="rate4">
                                    <input type="radio" id="star20" name="rate4" value="5" />
                                    <label for="star20" title="text">5 stars</label>
                                    <input type="radio" id="star19" name="rate4" value="4" />
                                    <label for="star19" title="text">4 stars</label>
                                    <input type="radio" id="star18" name="rate4" value="3" />
                                    <label for="star18" title="text">3 stars</label>
                                    <input type="radio" id="star17" name="rate4" value="2" />
                                    <label for="star17" title="text">2 stars</label>
                                    <input type="radio" id="star16" name="rate4" value="1" />
                                    <label for="star16" title="text">1 star</label>
                                  </div>  
                              </div>
                           </li>
                           <li class="review__ratings__overall">
                              <span>Quality of activity</span>
                              <div class='stars'>
                                 <div class="rate5">
                                    <input type="radio" id="star25" name="rate5" value="5" />
                                    <label for="star25" title="text">5 stars</label>
                                    <input type="radio" id="star24" name="rate5" value="4" />
                                    <label for="star24" title="text">4 stars</label>
                                    <input type="radio" id="star23" name="rate5" value="3" />
                                    <label for="star23" title="text">3 stars</label>
                                    <input type="radio" id="star22" name="rate5" value="2" />
                                    <label for="star22" title="text">2 stars</label>
                                    <input type="radio" id="star21" name="rate5" value="1" />
                                    <label for="star21" title="text">1 star</label>
                                  </div>  
                              </div>
                           </li>
                           <li class="review__ratings__overall" style='margin-top:20%'>
                              <div class='stars'>
                                 <div class="review-mobile-buttons">
                                    <button type='submit'
                                       class="btn btn-success btn-block"
                                       >
                                    Submit Review
                                 </button>
                                 </div>
                              </div>
                           </li>
                        </ul>
                    
                     </div>
                     <!-- <div class="col-sm-2">
                        <div class="review-mobile-buttons">
                           <a
                              href="/organizers/review-reply/44510/"
                              class="btn btn-success btn-block"
                              >
                           Reply
                           </a>
                        </div>
                     </div> -->
                  </div>
               </div>
            </div>
         </form>
         </section>



      </div>
   </div>
</div>
<input type=hidden value=false id=newsletter_subscribe name=newsletter_subscribe>
<noscript>
   <div style=display:inline>
      <img style=border-style:none height=1 width=1 alt src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/951179771/?value=0&amp;guid=ON&amp;script=0">
   </div>
</noscript>
<div style=display:none id=subscribe_confirm_modal class="modal new default-style subscribe-modal">
   <div class=modal-header>
      <button type=button onclick="gae('subscribe-confirm-modal','close');" data-dismiss=modal title=Close class=close>
         <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" height=18 width=18 xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon--svg">
            <g fill-rule=evenodd>
               <path d="M2.1213203.5147187L17.6776695 16.071068c.3905243.3905242.3905243 1.0236892 0 1.4142135-.3905242.3905243-1.0236893.3905243-1.4142135 0L.7071067 1.9289323C.3165824 1.538408.3165825.905243.7071067.5147187c.3905243-.3905243 1.0236893-.3905243 1.4142136 0z"></path>
               <path d="M.7071067 16.0710677L16.263456.5147185c.3905242-.3905243 1.0236892-.3905243 1.4142135 0 .3905243.3905242.3905243 1.0236893 0 1.4142135L2.1213203 17.4852813c-.3905243.3905243-1.0236893.3905242-1.4142136 0-.3905243-.3905243-.3905243-1.0236893 0-1.4142136z"></path>
            </g>
         </svg>
      </button>
   </div>
   <div class="modal-body subscribe-popup">
      <div class=modal-icon>
         <svg xmlns="http://www.w3.org/2000/svg" height=512 width=512 viewBox="0 0 512 512">
            <path d="M368 457H48c-26 0-48-22-48-48V201c0-27 22-48 48-48h320c26 0 48 21 48 48v208c0 26-22 48-48 48zM48 172c-16 0-28 13-29 29v208c1 16 13 28 29 28h320c15 0 28-12 28-28V201c0-16-13-29-28-29zm160 193c-14 0-27-5-36-15L43 222c-4-4-4-10 0-14s10-4 13 0l129 129c13 12 33 12 45 0l129-129c4-4 10-4 14 0 3 4 4 10 0 14L244 350c-10 10-23 15-36 15zm253-6h-11c-5 0-9-4-9-10 0-5 4-9 9-9h11c17 0 32-15 32-32V106c0-17-15-31-32-31H148c-18 0-32 14-32 31v15c0 6-4 10-10 10-5 0-10-4-10-10v-15c1-28 23-51 52-51h313c28 0 51 23 51 51v202c0 28-23 51-51 51z"></path>
         </svg>
      </div>
      <h5 class="title catamaran">Almost there!</h5>
      <p class=intro>Please go to your inbox and click the confirmation link we just emailed you.</p>
   </div>
</div>
<div style=display:none id=subscribe_modal class="modal new default-style subscribe-modal">
   <div class=modal-header>
      <button type=button onclick="gae('subscribe-modal','close-v0');" data-dismiss=modal title=Close class=close>
         <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" height=18 width=18 xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon--svg">
            <g fill-rule=evenodd>
               <path d="M2.1213203.5147187L17.6776695 16.071068c.3905243.3905242.3905243 1.0236892 0 1.4142135-.3905242.3905243-1.0236893.3905243-1.4142135 0L.7071067 1.9289323C.3165824 1.538408.3165825.905243.7071067.5147187c.3905243-.3905243 1.0236893-.3905243 1.4142136 0z"></path>
               <path d="M.7071067 16.0710677L16.263456.5147185c.3905242-.3905243 1.0236892-.3905243 1.4142135 0 .3905243.3905242.3905243 1.0236893 0 1.4142135L2.1213203 17.4852813c-.3905243.3905243-1.0236893.3905242-1.4142136 0-.3905243-.3905243-.3905243-1.0236893 0-1.4142136z"></path>
            </g>
         </svg>
      </button>
   </div>
   <div class="modal-body subscribe-popup">
      <h5 class="title catamaran">Sign up for our newsletter</h5>
      <p class=intro>Don&#39;t miss our special promotions, exclusive offers, new destinations and inspirational stories!</p>
      <div id=form-container class=js-successful-subscription>
         <form id=footer-modal-subscribe class="new_subscriber subscribe-form">
            <div class=control-group>
               <div class=controls>
                  <input data-source=footer_modal readonly class="form-control form-control-inline form-control-lg" name=email size=30 type=email value="amirrca@yahoo.com">
                  <input type=submit value=Subscribe class="form-control form-control-inline bttn -regular form-control-lg">
                  <div class=subscribe-form-message></div>
               </div>
            </div>
         </form>
      </div>
      <p class=outro>We respect your privacy. We will not publish or share your email address in any way.</p>
   </div>
</div>
<div class="subscribe-corner js-subscribe-corner hide">
   <div class=subscribe-corner__container>
      <h5 class="title catamaran">Don&#39;t miss out, join our mailing list and get updates &amp; special offers!</h5>
      <button class="js-subscribe-signup bttn bttn--regular">Sign up for our newsletter</button>
   </div>
   <div class="subscribe-corner__close js-subscribe-corner-close">
      <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" height=18 width=18 xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon--svg">
         <g fill-rule=evenodd>
            <path d="M2.1213203.5147187L17.6776695 16.071068c.3905243.3905242.3905243 1.0236892 0 1.4142135-.3905242.3905243-1.0236893.3905243-1.4142135 0L.7071067 1.9289323C.3165824 1.538408.3165825.905243.7071067.5147187c.3905243-.3905243 1.0236893-.3905243 1.4142136 0z"></path>
            <path d="M.7071067 16.0710677L16.263456.5147185c.3905242-.3905243 1.0236892-.3905243 1.4142135 0 .3905243.3905242.3905243 1.0236893 0 1.4142135L2.1213203 17.4852813c-.3905243.3905243-1.0236893.3905242-1.4142136 0-.3905243-.3905243-.3905243-1.0236893 0-1.4142136z"></path>
         </g>
      </svg>
   </div>
</div>
<div style=display:none>
   <small>Served by www:8000</small>
</div>
<div id=script-container>
   <script>window.dataLayer=window.dataLayer||[];
      dataLayer.push({
      "experimentId":"",
      "experimentVariantId":"",
      "experiments": {}
      });
      window.__insp=window.__insp||[];
      __insp.push(['tagSession',{}]);
   </script><script>var ctx = (function(){
      return {
      hasSelectedArrivalDate: false,
      baseUrlWithDate: "/?arrival_date=",
      }
      })();
      var siteid='3';
      var operatingSystem='Windows';
      var browserFamily='Chrome';
      var deviceType='Desktop';
      var supportsWEBP=true;
      var photoExtension='webp';
      var selectedLanguage='en';
      var selectedLanguageId=41;
      var selectedCurrency='CAD';
      var selectedCurrencyFormat='CAD {amount}';
      var isLiveEnv = true;
      var isSubscriber = false;
      var translation = {};
      var isDialogForCustomer = false;
      var isConfirmationPage = false;
      var isListingPage = false;
      var isInquiryPage = false;
      var isTopicPage = false;
      var isIndexPage = false;
      var isOrganizerPage = false;
      var isSearchresultsPage = false;
      var isBlogHome = false;
      var isBlogPost = false;
      var facebookAppId = 1736875203042291;
      var bingAppId = "5118296";
      const isSearchResultsPage = false;
      var viewUUID = '610bc8b2ec56a80900b391f2';
      var country = 'Thailand';
      var continentCode = 'AS';
      var isBot = false;
      var isNewSession = false;
      var pageType = '111';
      var pageTypeName = 'CustomerInbox';
      if (!Date.now) {
      Date.now = function(){return new Date().getTime();}
      }
      var loadStart = Date.now();
      var rebrand_experiment = false;
      var lp_package_filters = false;
      var reviewsTransTags = {}
      reviewsTransTags.testimonials = "Testimonials"
      reviewsTransTags.verified_site_reviews = "Verified BookYogaRetreats reviews"
      reviewsTransTags.review_by_customer = "Review by REVIEWER"
      reviewsTransTags.review_by_customer_from_country_anonymous = "Review by Anonymous"
      reviewsTransTags.review_by_customer_from_country_customer = "Review by CUSTOMER from COUNTRY"
      reviewsTransTags.valueForMoney = "Value for money"
      reviewsTransTags.accommodationAndFacilities = "Accommodation &amp; facilities"
      reviewsTransTags.food = "Food"
      reviewsTransTags.location = "Location"
      reviewsTransTags.qualityOfActivity = "Quality of activity"
      reviewsTransTags.overallImpression = "Overall impression"
      reviewsTransTags.organizer_response = "Organizer response"
      reviewsTransTags.anonymous = "Anonymous"
      var trustpilot_killswitch = 1;
      function getDeviceType() {
      var windowWidth = $(window).width();
      if ( windowWidth < 768 ){
      return 'mobile';
      } else if ( windowWidth <= 1024 ) {
      return 'tablet';
      } else {
      return 'desktop';
      }
      }
   </script><script>+function() {
      var errorCount = 0,
      win        = Function( 'return this' )();
      function post( url, data ) {
      var request = new XMLHttpRequest();
      request.open( 'POST', url, true );
      request.send( data );
      }
      function runSafe( fnc ) {
      var success = true;
      try {
      fnc();
      } catch( e ) {
      success = false;
      }
      return success;
      }
      function getSafe( fnc ) {
      var result;
      try {
      result = fnc();
      } catch( e ) {}
      return result;
      }
      function report( error ) {
      var data = new FormData(),
      key;
      for ( key in error ) if ( error.hasOwnProperty( key ) ) {
      data.append( key, error[ key ] );
      }
      if (typeof(viewUUID))
      data.append('viewUUID', viewUUID);
      post( '/js-error', data );
      }
      win.onerror = function( message, file, line, column, error ) {
      var args = [].slice.apply( arguments );
      errorCount += 1;
      if ( errorCount > 5 ) {
      return;
      }
      if (
      ! runSafe(function() {
      report({
      msg:     message,
      url:     win.location.href,
      script:  file,
      line:    line,
      column:  column,
      stack:   getSafe(function() { return error.stack; })
      });
      })
      ) {
      runSafe(function() {
      report({
      message: message
      });
      });
      }
      };
      }();
   </script>
         <script
         src="https://code.jquery.com/jquery-1.12.4.js"
         integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
         crossorigin="anonymous"
       ></script>
   <script src="{% static 'js/swiper.js' %}"></script>
   <script src="{% static 'js/libs.js' %}"></script>
   <script src="{% static 'js/logic.js' %}"></script>
   <script src="{% static 'js/inbox.js' %}"></script>
   <script src="{% static 'js/customer.js' %}"></script>
   <script defer async src="https://www.google.com/recaptcha/api.js"></script>
   <script>function moment(str) {
      return {
      toDate: function() {
      var date = new Date(str);
      if (isNaN(date.getDate()))
      return new Date();
      return date;
      }
      };
      }
   </script><script>var variants_ = {}</script>
   <script>window.addEventListener("load", function() {
      setTimeout(function() {
      if ('cookieconsent' in window) {
      window.cookieconsent.initialise({
      "palette": {
      "popup": {
      "text": "#fff",
      "background": "rgba(2, 191, 155, 0.85)"
      },
      "button": {
      "background": "rgba(2, 191, 155, 1)",
      "text": "#fff"
      }
      },
      "content": {
      "message": 'This website uses cookies. If that’s okay with you, just keep browsing.',
      "dismiss": 'Close',
      "link": 'Learn more',
      "href": window.location.protocol + "//" + window.location.host + "/terms-and-privacy"
      }
      })
      }
      }, 666);
      });
   </script><script src="{% static 'js/subscriber.js' %}"></script>
   <script src="{% static 'js/footerSubscribe.js' %}"></script>
   <script>tippy('.data-tippy--click', {
      content(reference) {
      const id = reference.getAttribute('data-template');
      const template = document.getElementById(id);
      return template.innerHTML;
      },
      trigger: 'click',
      theme: 'tripaneer'
      });
   </script><script>/* <![CDATA[ */
      var google_conversion_id = 951179771;
      var google_custom_params = window.google_tag_params;
      var google_remarketing_only = true;
      /* ]]> */
   </script><script async src="//www.googleadservices.com/pagead/conversion.js"></script>
   <script>$('#subscribe_modal').on('shown', function(){
      if ($(this).hasClass('modal-wide')) {
      gae('subscribe-modal','show-v1');
      } else {
      gae('subscribe-modal','show-v0');
      }
      });
   </script><script>var wishAdd = 'Trip added to Favorites';
      var wishRemove = 'Trip removed from Favorites';
      var wishLoginButton = 'Log in';
      var resendEmailSendingText = 'Sending...';
      var resendEmailSentText = 'sent';
      var removeProfilePictureWarningMessage = 'Are you sure you want to remove your profile picture?';
      var translations = {
      'linkCopiedToClipboard': 'Link copied to clipboard',
      'copyLink': 'Copy',
      'linkCopied': 'Link copied',
      'listingPhotos': 'Photos',
      'listingVideos': 'Videos',
      'allReviews': 'All reviews',
      'loadMore': 'Load more',
      'inbox': {
      'totalPrice': 'Total price',
      'bookNow': 'Book Now',
      'messages': 'Messages',
      'deposit': 'Deposit',
      'noDatesSelected': 'No dates selected',
      'person': 'person',
      'persons': 'persons',
      'open': 'Awaiting reply from the organizer',
      'available': 'Payment link is open, book now!',
      'booked': 'Confirmed, paid, and ready for travel!',
      'cancelled': 'The booking has been cancelled',
      'awaitingConfirmation': 'The organizer has to accept your inquiry',
      'notAvailable': 'No availability for your dates.',
      'depositText': 'The deposit is',
      'tripReadyToBook': 'Trip is ready to book',
      'requestToPay': 'Request to Pay',
      'requestToPayText': 'You will only be charged and the booking will only be finalized once the organizer confirms.',
      'continueToConversation': 'Continue to conversation',
      'cancelPaymentRequest': 'Cancel Payment Request',
      'paymentPendingText': 'You will only be charged once the organizer confirms.',
      'duplicate': 'This is a duplicate of another inquiry',
      'other': 'Conversations with this organizer',
      'explore': 'Explore similar trips',
      'statusLabel': {
      'open': 'Open',
      'available': 'Available',
      'booked': 'Booked',
      'cancelled': 'Cancelled',
      'awaitingConfirmation': 'Awaiting confirmation',
      'notAvailable': 'Not available',
      'duplicate': 'Duplicate'
      },
      'indicativeprice': 'This total price is converted based on the current exchange rate and is indicative.'
      },
      'payment': {
      'retry': 'Retry',
      'paymentSuccesful': 'Payment successful',
      'preauthSuccessful': 'Saved card details successfully',
      'somethingWentWrong': 'Something went wrong, please try again',
      'cancelledTryAgain' : 'Payment process is cancelled, please try again',
      'reviewTripDetails': 'Review Trip Details',
      'contactInformation': 'Contact Information',
      'confirmAndPay': 'Confirm and Pay',
      'firstName': 'First name',
      'lastName': 'Last name',
      'phone': 'phone',
      'email': 'email',
      'message': 'message',
      'requestToBook': 'Request to Book',
      'requestToBookSubtitle': 'You will only be charged if the organizer accepts within 48 hours',
      'paymentHeading': 'Book now',
      'paymentSubtitle': 'Reserve your spot on your dream vacation',
      'alreadyHaveAccount' : 'Already have an account?',
      "login": 'Log in',
      "contactUs": 'Contact us',
      "discountVoucher": 'Discount voucher',
      "verifyEmailToRedeem": 'Verify your email to redeem it',
      "discountsSafelyVerifyEmail": 'To safely use discounts, we need to be able to reach you by email. Please find the verification email we sent',
      "customerEmail": 'amirrca@yahoo.com',
      "resendVerificationEmail": 'Resend email',
      "amountPaid": 'Amount Paid',
      "noPayment": 'Good news! Your voucher covers the amount to be paid right now.'
      },
      'paymentStatus': {
      'noChargesWereMade': 'No charges were made',
      'tryAgainText': 'Please try again. If the problem persists, please try a different payment method or contact our support.',
      'selectPaymentMethod': 'Select payment method',
      'listingWasUpdated': 'Listing was updated',
      'invalidArrivalDate': 'Invalid arrival date',
      'arrivalDateHasPassed': 'Looks like the date you selected has passed. Please select a valid date and try again.',
      'noInstantAvailability': 'No instant availability',
      'bookingNotProcessed': 'Sorry, we couldn’t process your booking. No charges were made.',
      'reopenListingText': 'Please reopen the listing to see the latest version.',
      'back': 'Back',
      'backToListing': 'Back to Listing',
      'lastInstantBookingSoldOut': 'The last instant bookable spot has sold out. You can still continue and send this request as an inquiry.',
      'sendAsInquiry': 'Send as Inquiry',
      'anotherDatePackage': 'or book another date/package',
      'packageDetailsNotFound': 'Package Details Not Found',
      'backToPackageSelection': 'Back to Package Selection',
      'whyAmISeeingThis': 'Why am i seeing this?',
      'packageDetailsEdited': 'The organizer may have edited the package you selected while you were booking.',
      'updatesMayHaveBeenMade': 'Updates may have been made to the listing before you finished booking.',
      'invalidPackage': 'Invalid Package',
      'invalidLink': 'Invalid Link',
      'internalError': 'Internal Error',
      'errorOnOurSide': 'There was an error on our side, our team was already notified and will fix it as soon as possible.',
      'tryAgain': 'Try Again',
      'backToSite': 'Back to BookYogaRetreats',
      'refreshPage': 'Refresh Page',
      'somethingWentWrong': 'Something went wrong',
      'sorryPaymentFailed': 'Sorry, your payment failed',
      'selectPaymentMethod': 'Select Payment Method',
      'waitingForPaymentProvider': 'Waiting for payment provider',
      'doNotCloseWindow': 'Please do not close this window'
      },
      'vouchers': {
      'validUntil': 'Valid until',
      'applyThisVoucher': 'Apply this voucher',
      'applied': 'Applied',
      'tripaneerVoucherCode': 'Tripaneer voucher code',
      'logIn': 'Log in',
      'toApplyVoucher': 'To apply a voucher to this account',
      'yourVoucherCode': 'Your voucher code',
      'noVouchersOnThisAccount': 'You don&#39;t have any vouchers on this account',
      'expired': 'Expired',
      'viewFullTC': 'View full T&amp;C',
      'voucherUsage': 'Voucher usage',
      'voucherUsage1': 'Only 1 voucher can be used per transaction. Tripaneer only accepts 1 transaction per booking.',
      'voucherUsage2': 'If there is any credit remaining after the redemption of the voucher, a new voucher with the same validity period shall be issued for the remaining amount.',
      'voucherUsage3': 'This voucher must be redeemed in full in a single transaction. No change or credit is given in the event that the voucher amount exceeds the transaction amount.',
      'voucherUsage4': 'The voucher is linked to this email address and can only be used by the account with this email address.',
      'voucherUsage6': 'The voucher can only be used to book online through Tripaneer.com or any of our websites and cannot be presented upon check-in at the establishment.',
      'voucherRedeemable': 'Redeemable for cash after',
      'voucherDetails': 'Voucher details',
      'applyVoucherOnPayment': 'Apply this voucher on the payment page of your booking',
      'verifyEmailToUse': 'Verify your email to use your vouchers',
      'paymentYour': 'Your',
      'voucherModalText1': 'This has been converted from',
      'voucherModalText2': 'based on todays exchange rate',
      'voucherModalText3': 'Your voucher is worth',
      'voucherModalText4': 'and can be used until',
      'voucherModalText5': 'or you can exchange this for cash after',
      'voucherOverflowText1': 'The remaining',
      'voucherOverflowText2': 'of your voucher will be issued as a new voucher for a future booking',
      'voucherOverflowText3': 'This is a one-time voucher. Any balance that remains on the voucher after the payment is successfully processed will no longer be available for use.',
      'voucher': 'voucher',
      'oops': 'Oops!',
      'voucherErrorText1': 'We’re sorry, something went wrong on our end. Please refresh the page and try applying the voucher again.',
      'voucherErrorText2': 'This voucher isn’t valid.',
      'voucherErrorText3': 'Contact',
      'voucherErrorText4': 'customer support',
      'voucherErrorText5': 'if you have questions.'
      },
      'filterMap': {
      'nrPersons': 'persons',
      'nrPerson': 'person',
      'days': 'days',
      'from': 'from',
      'showing500Results': 'Showing 500+ results',
      'somethingWentWrong': 'Oops, something went wrong.',
      'noResultsTryZoom': 'No results found in this area, try zooming out',
      'showing': 'Showing',
      'results': 'results',
      'prev': 'Prev',
      'next': 'Next',
      'refreshPage': 'Browse the map and search again',
      'noResultsFound': 'No results found',
      'noResultsTryBrowse': 'The selection you&#39;ve chosen has no results, try browsing another area or zooming out'
      }
      }
   </script>
</div>
<div class='loader-overlay'>
   <h2>Logging out</h2>
   <h4>of Tripaneer websites</h4>
   <div class='spinner'>
      <svg xmlns="http://www.w3.org/2000/svg" height=16 width=18 viewbox="0 0 18 16" class="bounce bounce1">
         <path fill-rule='nonzero' d="M.035 5.645c-.344 3.11 1.84 8.322 7.776 9.47 3.017.589 7.015-.223 9.002-4.342C23.338-2.817.87-2.397.035 5.645z" fill="#02BF9B"></path>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" height=17 width=18 viewbox="0 0 18 16" class="bounce bounce2">
         <path fill-rule='nonzero' d="M15.643 2.777A8.172 8.172 0 0 0 12.707.703C7.61-1.48 1.765 1.736.333 6.025c-.035.105-.067.21-.096.316-.561 2.033-.135 4.253 1.372 6.066 1.802 2.168 4.765 3.471 7.601 3.613 3.924.196 7.457-1.079 8.504-4.38.79-2.49-.105-6.65-2.071-8.863z" fill="#02A5E8"></path>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" height=18 width=18 viewbox="0 0 18 18" class="bounce bounce3">
         <path fill-rule='nonzero' d="M10.215.437C5.117.437-2.205 5.263.634 11.088c2.839 5.825 12.92 8.488 15.732 2.996C19.112 8.718 19.204.437 10.215.437z" fill="#FF9B35"></path>
      </svg>
   </div>
</div>
<div id='toast'>
   <div id='toast-inner'></div>
</div>
</body>
</html>