{% extends './base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="customer-layout-wrapper my-profile rebrand-funnel">
    <header>
       <h1>Settings</h1>
    </header>
    <div class="grid-wrapper two-columns-one-fifth">
       <div class="column hidden-phone">
          <div class="section profile-navigation">
             <ul>
                <li class="btn-link"><a href="{% url 'listings:customer_profile' pk=user.get_customer_id %}">Profile</a></li>
                <li class="active btn-link"><a href="{% url 'listings:customer_pass_change' pk=user.get_customer_id %}">Settings</a></li>
                <li><a href="{% url 'account_logout' %}" type='submit'>Log out</a></li>
             </ul>
          </div>
       </div>
       <div class="column">
          <div class="section profile-content">
             <h2 class="title">Change password</h2>
             <p class="hint">To change password, use the form below.</p>
             <form method="POST" action="{% url 'account_change_password' %}" class="password_change form-flexbox">
                {% csrf_token %}
                {{ form.as_p }}
                <p class="password-check">
                    <span class="check-length"><i class="ebs-icon ebs-icon-checked-thin"></i> At least 8 characters</span>
                    <span class="check-number"><i class="ebs-icon ebs-icon-checked-thin"></i> One number</span>
                    <span class="check-uppercase"><i class="ebs-icon ebs-icon-checked-thin"></i> One uppercase</span>
                    <span class="check-lowercase"><i class="ebs-icon ebs-icon-checked-thin"></i> One lowercase</span>
                    </p>
                <div class="form-group form-group-actions">
                    <label>&nbsp;</label>
                    <button type="submit" onclick="gae('customer','settings_change_password')" class="bttn -regular -lg bttn-submit has-loader has-loader--light js-submit-password">
                    <span class="default-value">Change password</span>
                    <span class="loader">
                    <div class="spinner">
                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 18 16" class="bounce bounce1">
                    <path fill-rule="nonzero" d="M.035 5.645c-.344 3.11 1.84 8.322 7.776 9.47 3.017.589 7.015-.223 9.002-4.342C23.338-2.817.87-2.397.035 5.645z" fill="#02BF9B">
                    </path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="17" width="18" viewBox="0 0 18 16" class="bounce bounce2">
                    <path fill-rule="nonzero" d="M15.643 2.777A8.172 8.172 0 0 0 12.707.703C7.61-1.48 1.765 1.736.333 6.025c-.035.105-.067.21-.096.316-.561 2.033-.135 4.253 1.372 6.066 1.802 2.168 4.765 3.471 7.601 3.613 3.924.196 7.457-1.079 8.504-4.38.79-2.49-.105-6.65-2.071-8.863z" fill="#02A5E8">
                    </path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 18 18" class="bounce bounce3">
                    <path fill-rule="nonzero" d="M10.215.437C5.117.437-2.205 5.263.634 11.088c2.839 5.825 12.92 8.488 15.732 2.996C19.112 8.718 19.204.437 10.215.437z" fill="#FF9B35">
                    </path>
                    </svg>
                    </div>
                    </span>
                    </button>
                    </div>
            </form>
          </div>
       </div>
    </div>
 </div>
{% endblock %}