{% load static %}
{% include './head-banner.html' %}
    <div id="main-container" class="container-fluid">
      <header class="mt-header" id="organizer_nav">
        <style type="text/css">
          @media (min-width:1441px) {
            .admin-content {
              padding: 25px 0
            }
          }

          @media screen and (max-width: 767px) {
            .panel .panel-heading {
              padding: 16px 8px;
            }

            .panel .panel-heading .nav-tabs>li>a {
              padding: 16px 8px;
              text-transform: none;
            }

            .jumbotron p {
              font-size: 14px
            }
          }

          .panel .panel-heading .nav-tabs {
            padding: 0;
            border-bottom: none;
            position: relative;
            box-shadow: 0 -2px 0 #d9d9d9 inset;
          }

          .panel .panel-heading .nav-tabs:after {
            content: "";
            height: 2px;
            background: #D9D9D9;
            width: 100%;
            bottom: 0;
            left: 0;
          }

          .panel .panel-heading .nav-tabs>li.active>a,
          .panel .panel-heading .nav-tabs>li.active>a,
          .panel .panel-heading .nav-tabs>li>a:hover {
            color: #02BF9B !important;
          }

          .panel .panel-heading .nav-tabs>li.active>a:after,
          .panel .panel-heading .nav-tabs>li.active>a:after,
          .panel .panel-heading .nav-tabs>li>a:hover:after {
            background: #02BF9B
          }
        </style>
        <script type="text/javascript">
          var siteID = 4,
            orgNavID = 51525
        </script>
        <div class="mt-header__content hidden-phone">
          <div class="mt-header__content__main">
            <h1 class="catamaran">{{ listing.get_organization }}</h1>
          </div>
          <div class="mt-header__content__secondary">
            <span class="hidden-phone"> Business development: Tripaneer <br />
              <a href="/cdn-cgi/l/email-protection#2a5a4b585e444f58596a5e58435a4b444f4f5804494547">
                <span class="__cf_email__" data-cfemail="e0908192948e859293a094928990818e858592ce838f8d">[email&#160;protected]</span>
              </a>
              <br />
            </span>
            <span class="visible-phone">
              <a href="/4/organizers/51525/support/" class="btn btn-link btn-sm">
                <img src="./t-customer-service.svg" style="width: 24px" />
              </a>
            </span>
          </div>
        </div>
        <ul class="mt-header__tabs js-tabs js-affix">
          <li class="mt-header__tabs__item dropdown ">
            <a href=# class="mt-header__tabs__item__link dropdown-toggle" data-toggle="dropdown">
              <img src="./inquiries.svg" class="mt-header__tabs__item__link__icon"> Inquiries <span class="caret"></span>
            </a>
            <ul class="mt-header__tabs__item__link__dropdown__menu dropdown-menu" role="menu">
              <li>
                <a href="{% url 'listings:my_inquiries' request.user.get_profile.pk %}">Inquiries</a>
              </li>
              <li>
                <a href="{% url 'listings:my_bookings' request.user.get_profile.pk %}">Bookings</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="{% url 'listings:my_payments' request.user.get_profile.pk %}">Payments</a>
              </li>
              <li>
                <a href="{% url 'listings:my_invoices' %}">Invoices</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="{% url 'listings:my_reviews' %}">Reviews</a>
              </li>
            </ul>
          </li>
          <li class="mt-header__tabs__item dropdown ">
            <a href=# class="mt-header__tabs__item__link dropdown-toggle" data-toggle="dropdown">
              <img src="./my-listings.svg" class="mt-header__tabs__item__link__icon"> My Listings <span class="caret"></span>
            </a>
            <ul class="mt-header__tabs__item__link__dropdown__menu dropdown-menu" role="menu">
              <li>
                <a href="{% url 'listings:my_listings' %}">Listings</a>
              </li>
              <li>
                <a href="{% url 'listings:accommodation-list' %}">Accommodations</a>
              </li>
              <li>
                <a href="{% url 'listings:instructor-list' %}">Instructors</a>
              </li>
              <li>
                <a href="{% url 'listings:update-videos' %}">Videos</a>
              </li>
            </ul>
          </li>
          <li class="mt-header__tabs__item dropdown">
            <a href=# class="mt-header__tabs__item__link dropdown-toggle" data-toggle="dropdown">
              <img src="./my-profile.svg" class="mt-header__tabs__item__link__icon"> My Profile <span class="caret"></span>
            </a>
            <ul class="mt-header__tabs__item__link__dropdown__menu dropdown-menu dropdown-menu--right-on-mobile" role="menu">
              <li>
                <a href="{% url 'listings:myprofile-update' pk=request.user.get_profile.id %}">My Profile Page</a>
              </li>
              <li>
                {% if request.user.get_profile.is_business %}
                <a href="{% url 'listings:businessinfo-update' pk=request.user.get_profile.id %}">Business Information</a>
                {% else %}
                <a href="{% url 'listings:personalinfo-update' pk=request.user.get_profile.id %}">Business Information</a>
                {% endif %}
              </li>
              <li>
                <a href="{% url 'listings:paymentinfo-update' pk=request.user.get_profile.id %}">Payment Information</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="/4/organizers/edit/51525/account/">Account Settings</a>
              </li>
              <li>
                <a href="/4/organizers/edit/51525/notification_preferences/">Notifications</a>
              </li>
            </ul>
          </li>
          <li class="mt-header__tabs__item ">
            <a href="/4/newsletter/51525/list/" class="mt-header__tabs__item__link">
              <img src="./marketing.svg" class="mt-header__tabs__item__link__icon"> Marketing </a>
          </li>
          <li class="mt-header__tabs__item hidden-phone">
            <a href="/4/organizers/51525/support/" class="mt-header__tabs__item__link">
              <img src="./support.svg" class="mt-header__tabs__item__link__icon"> Support </a>
          </li>
        </ul>
        <div class="js-affix-placeholder affix-placeholder"></div>
      </header>
      <section class="admin-content  js-active-tab-name" data-tab-name="Listings">
        <!-- TO DO: CLEAN UP BREADCRUMBS FROM EDIT PAGES -->
        <style>
          .breadcrumb {
            display: none
          }
        </style>
        <div class="row">
          <style type="text/css">
            #listing_nav.listing-header--has-background-image {
              background-image: url('{{ listing.get_first_image }}');
            }

            @media (min-width:768px) {
              #listing_nav.listing-header--has-background-image {
                background-image: url('{{ listing.get_first_image }}');
              }
            }
          </style>
          <div id="listing_nav" class="listing-header listing-header--taller listing-header--has-background-image js-active-tab-name" data-tab-name="Listings">
            <div class="listing-header__overlay"></div>
            <div class="listing-header__top">
              <a href="/4/organizers/51525/listings/">
                <i class="ebs-icon-sec-arrow-left"></i>
              </a>
              <!-- <a href="/4/organizers/51525/listings/"><i class="ebs-icon-close"></i></a> -->
            </div>
            <div class="listing-header__content">
              <div class="listing-header__title">
                <h1 class="catamaran">{{ listing.title }}</h1>
              </div>
              <div class="listing-header__details">
                <div class="btn-toolbar">
                  <div class="btn-group js-tour-step listing-header__new-listing-assistant" data-step="0" data-tour-name="new_listing_welcome">
                    <a href="#listing_checklist_modal" data-toggle="modal" class="btn btn-sm listing-header-btn btn-default btn--progress listing-header__new-listing-assistant__cta"> {{ listing.progress }}% Complete <div class="progress progress--sm progress--purple">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ listing.progress }}%;"></div>
                      </div>
                    </a>
                    <div class="popover fade top">
                      <a href="#" class="close js-tour-end">
                        <i class="ebs-icon-close"></i>
                      </a>
                      <div class="arrow"></div>
                      <div class="popover-content">
                        <h4>Required Information</h4>
                        <p>Check what information is required to publish your listing online</p>
                        <a href="#" class="btn btn-success js-tour-end">OK</a>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="btn-group js-tour-step listing-header__new-listing-assistant" data-step="1" data-tour-name="new_listing_welcome"><button
				class="btn btn-sm listing-header-btn btn-warning js-approval-requester-button listing-header__new-listing-assistant__cta "
				data-listing-id="95462" p-enable="ListingsEdit"
				data-toggle="tooltip" title="Our editors will review your changes and publish them soon.">
				Request publishing
			</button><div class="popover fade top"><a href="#" class="close js-tour-end"><i class="ebs-icon-close"></i></a><div class="arrow"></div><div class="popover-content"><h4>Request publishing</h4><p>Our editors will review your listing and provide recommendations.</p><p>You can request it even if the listing is not 100% complete yet.</p><a href="#" class="btn btn-default js-tour-prev">Prev</a><a href="#" class="btn btn-success js-tour-end">OK</a></div></div></div> -->
                  <!-- Modal -->
                  <div class="modal fade listing-checklist-modal" id="listing_checklist_modal" tabindex="-1" role="dialog" aria-labelledby="listing_checklist_modal">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <!-- <h4 class="modal-title">Required Information - 14 fields to go</h4> -->
                          <h4 class="modal-title">Checklist</h4>
                          <small>Check what information is required to publish your listing online</small>
                        </div>
                        <div>
                          <ul class="nav nav-tabs nav-tabs--short" role="tablist">
                            <li role="presentation" class="active">
                              <a href="#fields" aria-controls="fields" role="tab" data-toggle="tab">Missing Fields</a>
                            </li>
                            <li role="presentation">
                              <a href="#requirements" aria-controls="requirements" role="tab" data-toggle="tab">Requirements</a>
                            </li>
                          </ul>
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="fields">
                              <!-- <div class="progress-panel"><p class="progress-panel__title"><strong>17% complete</strong><span class="text-muted">(3 out of 17)</span></p><div class="progress progress--purple"><div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 17%;"></div></div></div> -->
                              <div class="listing-nav listing-nav--modal">
                                <p>Description</p>
                                <ul class="nav nav-pills nav-stacked">
                                  <li class="nav-tab-intro-title">
                                    <a href="{% url 'listings:title-update' pk=listing.pk %}"> Title &amp; Intro <span class="required-label label label-purple-pale">3 <span class="long-label">fields missing</span>
                                      </span>
                                    </a>
                                  </li>
                                  <li class="nav-tab-location-accommodation">
                                    <a href="{% url 'listings:location-update' pk=listing.pk %}"> Location &amp; Accommodation <span class="required-label label label-purple-pale">1 <span class="long-label">fields missing</span>
                                      </span>
                                    </a>
                                  </li>
                                  <li class="nav-tab-arrival-information">
                                    <a href="{% url 'listings:arrival-update' pk=listing.pk %}"> Arrival information <span class="required-label label label-purple-pale">1 <span class="long-label">fields missing</span>
                                      </span>
                                    </a>
                                  </li>
                                  <li class="nav-tab-guests-requirements" style="display:none">
                                    <a href="{% url 'listings:require-update' pk=listing.pk %}"> Guest requirements </a>
                                  </li>
                                  <li class="nav-tab-program">
                                    <a href="{% url 'listings:program-update' pk=listing.pk %}"> Program &amp; Itinerary <span class="required-label label label-purple-pale">3 <span class="long-label">fields missing</span>
                                      </span>
                                    </a>
                                  </li>
                                  <li class="nav-tab-pricing-and-inclusions">
                                    <a href="{% url 'listings:pricing-update' pk=listing.pk %}"> Pricing &amp; Inclusions <span class="required-label label label-purple-pale">3 <span class="long-label">fields missing</span>
                                      </span>
                                    </a>
                                  </li>
                                  <li class="nav-tab-photos">
                                    <a href="{% url 'listings:photo-update' pk=listing.pk %}"> Photos <span class="required-label label label-purple-pale">1 <span class="long-label">fields missing</span>
                                      </span>
                                    </a>
                                  </li>
                                </ul>
                                <p>Availability &amp; Promoting</p>
                                <ul class="nav nav-pills nav-stacked">
                                  <li class="nav-tab-availability">
                                    <a href="{% url 'listings:packages-list' pk=listing.pk %}"> Packages &amp; Availability <span class="required-label label label-purple-pale">1 <span class="long-label">fields missing</span>
                                      </span>
                                    </a>
                                  </li>
                                  <li class="nav-tab-booking-conditions">
                                    <a href="{% url 'listings:booking-conditions-update' pk=listing.pk %}"> Booking conditions <span class="required-label label label-purple-pale">1 <span class="long-label">fields missing</span>
                                      </span>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="requirements">
                              <ul class="requirements-list">
                                <li>Your account needs to be <strong>approved</strong> first </li>
                                <li>It must be <strong>focused on the main activity</strong>
                                </li>
                                <li>It must <strong>include accommodation</strong> during the whole trip </li>
                                <li>It must have at least 1 starting date that is more than <strong>6 weeks</strong> away </li>
                                <li>The <strong>prices</strong> listed here must be the same or lower as the prices on your website </li>
                                <li>It cannot include any of our <a href='https://tripaneer.zendesk.com/hc/en-us/articles/360010278779-What-are-activities-that-Tripaneer-doesn-t-accept-' target='_blank'>banned activities</a>
                                </li>
                                <li>Flights are not allowed to be part of the package</li>
                                <li>It cannot be split into <a href='https://tripaneer.zendesk.com/hc/en-us/articles/360010185520-What-kind-of-trips-can-I-advertise-on-Tripaneer-' target='_blank'>modules</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                  <script>
                    if (document.getElementsByClassName("js-tour-step").length) {
                      var tourName = document.getElementsByClassName("js-tour-step")[0].getAttribute("data-tour-name"),
                        organizerID = 51525,
                        tourCookieName = `organizer_${organizerID}_trigger_tour_${tourName}`,
                        browserCookieName = `organizer_${organizerID}_created_listing_in_this_browser`,
                        backdropClass = "tour-backdrop",
                        backdrop = `
																											
																											
																											<div class="${backdropClass}"></div>`,
                        listingIsCompleted = false

                      function startTour() {
                        step1Container = document.getElementsByClassName("js-tour-step")[0]
                        // Adds Backdrop
                        window.scrollTo(0, 0);
                        document.body.insertAdjacentHTML("afterbegin", backdrop)
                        document.body.style.overflow = 'hidden'
                        step1Container.classList.add("active")
                      }

                      function prevTour() {
                        let currentContainer = document.getElementsByClassName("js-tour-step active")[0],
                          currentStep = currentContainer.getAttribute("data-step"),
                          tourName = currentContainer.getAttribute("data-tour-name"),
                          prevStep = parseInt(currentStep) - 1,
                          prevContainer = document.querySelectorAll(`[data-tour-name="${tourName}"]`)[prevStep]
                        if (prevContainer == undefined) {
                          return false
                        } else {
                          currentContainer.classList.remove("active")
                          prevContainer.classList.add("active")
                        }
                      }

                      function nextTour() {
                        let currentContainer = document.getElementsByClassName("js-tour-step active")[0],
                          currentStep = currentContainer.getAttribute("data-step"),
                          tourName = currentContainer.getAttribute("data-tour-name"),
                          nextStep = parseInt(currentStep) + 1,
                          nextContainer = document.querySelectorAll(`[data-tour-name="${tourName}"]`)[nextStep]
                        if (nextContainer == undefined) {
                          endTour()
                        } else {
                          currentContainer.classList.remove("active")
                          nextContainer.classList.add("active")
                        }
                      }

                      function endTour() {
                        let activeBackdrop = document.getElementsByClassName(backdropClass)[0],
                          currentContainer = document.getElementsByClassName("js-tour-step active")[0],
                          tourName = currentContainer.getAttribute("data-tour-name")
                        currentContainer.classList.remove("active")
                        Cookies.set(tourCookieName, false)
                        // Removes Backdrop
                        activeBackdrop.parentNode.removeChild(activeBackdrop)
                        document.body.style.overflow = 'auto'
                      }
                      // Click events
                      document.addEventListener('click', function(event) {
                        if (event.target.matches('.js-tour-end')) {
                          event.preventDefault()
                          endTour()
                        }
                        if (event.target.matches('.js-tour-prev')) {
                          event.preventDefault()
                          prevTour()
                        }
                        if (event.target.matches('.js-tour-next')) {
                          event.preventDefault()
                          nextTour()
                        }
                      }, false);
                      // If the organizer created the listing in this browser...
                      if (typeof(Cookies.get(browserCookieName)) != 'undefined') {
                        // Checks if Listing is completed, then sets Cookie for trigering "Listing Completed Tour"
                        if (listingIsCompleted && typeof(Cookies.get(tourCookieName)) == 'undefined') {
                          Cookies.set(tourCookieName, true)
                        }
                        // Checks trigger
                        if (typeof(Cookies.get(tourCookieName)) != 'undefined' && Cookies.get(tourCookieName) == "true") {
                          // Prevents browser from scrolling away from the top on page load
                          if ('scrollRestoration' in history) {
                            history.scrollRestoration = 'manual';
                          }
                          // Starts Tour
                          document.addEventListener('DOMContentLoaded', function() {
                            startTour()
                          })
                        }
                      }
                    }
                  </script>
                  <button id="listing-deactivate" data-listing-id="95462" class="btn btn-sm listing-header-btn btn-danger"> Deactivate </button>
                </div>
                <div class="modal fade" id="new_recommendations_modal" tabindex="-1" role="dialog" aria-labelle>
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">
                            <img src="./recommendationsClose.svg" class="recommendations-modal__close__image" />
                          </span>
                        </button>
                        <div class="modal-header__content">
                          <img src="./recommendations.svg" class="recommendations-modal__title__image" />
                          <h3>Recommendations</h3>
                          <p>Comments from our editors and improvement points to boost your listing</p>
                        </div>
                      </div>
                      <div class="modal-body recommendations-container"></div>
                    </div>
                  </div>
                </div>
                <script>
                  function openRecommendationsPage(section) {
                    let url = ''
                    switch (section) {
                      case 'intro':
                        url = '/4/listings/95462/edit/introduction/'
                        break;
                      case 'destinationAndLocation':
                        url = '/4/listings/95462/edit/destination_and_location/'
                        break;
                      case 'arrivalInformation':
                        url = '/4/listings/95462/edit/arrival_information/'
                        break;
                      case 'foodAndDrinks':
                        url = '/4/listings/95462/edit/foodAndDrinks/'
                        break;
                      case 'guestRequirements':
                        url = '/4/listings/95462/edit/guest_requirements/'
                        break;
                      case 'programs':
                        url = '/4/listings/95462/edit/program/'
                        break;
                      case 'pricingAndInclusions':
                        url = '/4/listings/95462/edit/pricing_and_inclusions/'
                        break;
                      case 'extras':
                        url = '/4/listings/95462/edit/extras/'
                        break;
                      case 'photos':
                        url = '/4/listings/edit/95462/photos/'
                        break;
                      case 'packagesAndAvailability':
                        url = '/4/listings/edit/95462/availability/'
                        break;
                      case 'bookingConditions':
                        url = '/4/listings/edit/95462/booking-conditions/'
                        break;
                      default:
                        url = '/4/listings/95462/edit/introduction/'
                    }
                    window.location.href = url;
                  }
                </script>
              </div>
            </div>
          </div>
          <script>
            let inputs = $(".number-recommendations");
            let number = 0;
            for (let i = 0; i < inputs.length; i++) {
              number += parseInt($(inputs[i]).val())
            }
            $('#number-of-recommendations').html(number);
            // function closeRecommendationPopover() {
            // 	$('.recommendations-popover').addClass('hide');
            // }
          </script>
        </div>
        <div class="row">
          <div class="col-sm-3 col-lg-2 js-listing-nav-left-column">
            <div class="listing-nav-container js-listing-nav-container">
              <a href="#" class="btn btn-default listing-nav-toggler js-listing-nav-toggler">
                <i class="fa fa-bars"></i> Menu <i class="ebs-icon ebs-icon-t-caret-down"></i>
              </a>
              <div class="listing-nav ">
                <p>Description</p>
                <ul class="nav nav-pills nav-stacked">
                  <li class="nav-tab-intro-title">
                    <a href="{% url 'listings:title-update' pk=listing.pk %}"> Title &amp; Intro 
                    </a>
                  </li>
                  <li class="nav-tab-location-accommodation">
                    <a href="{% url 'listings:location-update' pk=listing.pk %}"> Location &amp; Accommodation
                    </a>
                  </li>
                  <li class="nav-tab-arrival-information">
                    <a href="{% url 'listings:arrival-update' pk=listing.pk %}"> Arrival information 
                    </a>
                  </li>
                  <li class="nav-tab-food">
                    <a href="{% url 'listings:food-update' pk=listing.pk %}"> Food &amp; Drinks </a>
                  </li>
                  <li class="nav-tab-guests-requirements">
                    <a href="{% url 'listings:require-update' pk=listing.pk %}"> Guest requirements </a>
                  </li>
                  <li class="nav-tab-program">
                    <a href="{% url 'listings:program-update' pk=listing.pk %}"> Program &amp; Itinerary 
                    </a>
                  </li>
                  <li class="nav-tab-pricing-and-inclusions">
                    <a href="{% url 'listings:pricing-update' pk=listing.pk %}"> Pricing &amp; Inclusions 
                    </a>
                  </li>
                  <li class="nav-tab-extras">
                    <a href="{% url 'listings:extra-update' pk=listing.pk %}"> Extras </a>
                  </li>
                  <li class="nav-tab-photos">
                    <a href="{% url 'listings:photo-update' pk=listing.pk %}"> Photos 
                    </a>
                  </li>
                </ul>
                <p>Availability &amp; Promoting</p>
                <ul class="nav nav-pills nav-stacked">
                  <li class="nav-tab-availability">
                    <a href="{% url 'listings:packages-list' pk=listing.pk %}"> Packages &amp; Availability 
                    </a>
                  </li>
                  <li class="nav-tab-booking-conditions">
                    <a href="{% url 'listings:booking-conditions-update' pk=listing.pk %}"> Booking conditions 
                    </a>
                  </li>
                  <li class="nav-tab-ranking">
                    <a href="{% url 'listings:ranking-update' pk=listing.pk %}"> Ranking </a>
                  </li>
                </ul>
                <p>External Pages</p>
                <ul class="nav nav-pills nav-stacked">
                  <li>
                    <a href="{% url 'listings:accommodation-list' %}" target="_blank"> Accommodation </a>
                  </li>
                  <li>
                    <a href="{% url 'listings:instructor-list' %}" target="_blank"> Instructors </a>
                  </li>
                  <li>
                    <a href="{% url 'listings:update-videos' %}" target="_blank"> Videos </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-9 col-lg-10 js-listing-nav-right-column">
            <div id="listing-deactivate-modal-95462" class="modal fade">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-info">Deactivate Listings</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Deactivation reason</label>
                      <div class="col-sm-9 input-group">
                        <select name="reason" class="form-control js-display-hidden-input">
                          <option value="0" disabled selected>- select an option -</option>
                          <option value="101">No new dates for now</option>
                          <option value="102">We are fully booked</option>
                          <option value="103">We do not have enough participants</option>
                          <option value="104">We are not running this holiday anymore</option>
                          <option value="105">We do not want to list this package with you anymore</option>
                          <option value="106">The listing needs major updates</option>
                          <option value="150">We cannot list this package</option>
                          <option value="164">COVID-19</option>
                          <option value="165">Business on hold</option>
                          <option value="166">Temporary out of business</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-success select-reason-to-deactivate-listing" type="button" data-listing-id="95462">
                      <i class="fa fa-check"></i>Save <i class="fa fa-spinner fa-spin hide js-save-spinner"></i>
                    </button>
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
            <script>
              $(function() {
                initListingActivation();
                $("#listing-deactivate").click(function() {
                  $("#listing-deactivate-modal-95462").modal("show");
                })
              })
              initListingHeader(95462);
              flash.clear();
              flash.success("Email successfully verified.");
            </script>
            <script type="text/javascript" charset="utf-8">
              $(".nav-tab-{{page}}").addClass('active')
            </script> {% block content %} {% endblock %}
      </section>
      <script>
        initListingEditForm();
        $('#change-list-slug').click(function() {
          if (window.confirm("Changing the slug might have a negative impact on SEO. Are you sure?")) {
            var listingID = $(this).data("listingId");
            $.post('/' + siteID + '/listings/update-slug/' + listingID + '/', function(data) {
              if (data) {
                location.reload();
                return;
              }
              alert("Failed to update the slug.");
            }).done(function() {});
          }
        });
        $('.js-remove-attachment').click(function() {
          let attachmentId = $(this).data('attachment-id');
          let formData = {
            "attachment_id": attachmentId
          }
          let options = {
            credentials: 'same-origin',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify(formData)
          }
          let url = '/listings/95462/json/remove_listing_attachment'
          fetch(url, options).then(function(response) {
            if (response.status != 400 && response.status != 200) {
              flash.error('Something went wrong.');
              console.log(response);
            } else {
              flash.success('Attachment removed successfully.');
              window.location.reload();
              return response.json()
            }
          })
        })

        function readableSize(bytes) {
          let s = ['bytes', 'KB', 'MB', 'GB', 'TB', 'PB'],
            e = Math.floor(Math.log(bytes) / Math.log(1024))
          return (bytes / Math.pow(1024, e)).toFixed(1) + " " + s[e]
        }

        function decorateSize(bytes) {
          let readable = readableSize(bytes);
          let maxFileSize = 10 * 1024 * 1024
          if (bytes <= maxFileSize) return readable;
          return " < span style = 'color: red;' > " + readable + " < /span>";
        }

        function addAttachment(wrapper) {
          let list = wrapper.find('.attachment-list');
          let listHtml = list.html('');
          let uploadAttachment = wrapper.find('.upload-attachment');
          wrapper.find("input:file").each(function() {
            if (this.files && this.files.length > 0) {
              listHtml.append(" < li file - id = '" + this.id + "' >< span class = 'file-name' > " + this.files[0].name + "(" + decorateSize(this.files[0].size) + ") < /span>< span class = 'close delete' >< i class = 'ebs-icon-close' >< /i>< /span>< /li>");
              uploadAttachment.removeClass('hide');
            }
          })
        }
        $(".listing-attachments-section").on('change', "input.attachment-slot", function() {
          let wrapper = $(this).closest(".listing-attachments")
          addAttachment(wrapper)
        })
        $(".listing-attachments-section").on('click', '.attachments-wrap .delete', function() {
              let wrapper = $(this).closest(".listing-attachments");
              let item = $(this).closest("li");
              let id = item.attr("file-id");
              let uploadAttachment = wrapper.find('.upload-attachment');
              item.remove()
              $("#" + id).replaceWith(' < input class = "attachment-slot"
                id = "' + id + '"
                name = "file"
                type = "file" > ');
                uploadAttachment.addClass('hide');
              }) $('.upload-attachment').on('click', function() {
              let width = $(this)[0].getBoundingClientRect().width;
              $(this).css('width', width + 'px').html(' < i class = "fa fa-spinner fa-spin" >< /i>');
              $(this).css('pointer-events', 'none');
              let file = $(this).closest('.attachments-wrap').find('.attachment-slot').prop('files')[0];
              let formData = new FormData()
              formData.append('file', file) let options = {
                credentials: 'same-origin',
                method: 'POST',
                body: formData
              }
              let url = '/listings/95462/json/add_listing_attachments'
              fetch(url, options).then(function(response) {
                if (response.status != 200) {
                  flash.error('Something went wrong.');
                  console.log(response);
                } else {
                  flash.success('File attached successfully');
                  window.location.reload();
                  return response.json()
                }
              })
            })
      </script>
      <div class="organizer--feedback">
        <div class="js-org-feedback-controls organizer--feedback-container">
          <div class="js-feedback-initial organizer--feedback-form">
            <label>Do you find this page and its features useful?</label>
            <input class="btn btn-sm btn-outline-secondary" id="org_feedback_yes" type="button" value="Yes" onclick="submitOrgFeedback(1);">
            <input class="btn btn-sm btn-outline-secondary" id="org_feedback_no" type="button" value="No" onclick="submitOrgFeedback(0);">
          </div>
          <div class="js-feedback-text organizer--feedback-message" style="display: none;">
            <label>How could we improve it for you?</label>
            <textarea id="orgFeedbackMessageInput"></textarea>
            <small>For immediate support we recommend getting in touch with your account manager, these messages are not constantly monitored.</small>
            <input type="button" class="btn btn-outline-secondary" onclick="submitOrgFeedback(2);" value="Send feedback">
          </div>
        </div>
        <div hidden id="organizer_feedback_submitted" class="organizer--feedback-container">
          <label>Your feedback was sent to our team, thanks for helping us making our tools match your expectations.</label>
        </div>
      </div>
      <script>
        function showOrgFeedbackMessage() {
          $('.js-feedback-initial').hide()
          $('.js-feedback-text').show()
        }
        var feedbackType = "undefined";

        function submitOrgFeedback(state_) {
          if (state_ == 0) {
            feedbackType = "negative";
          } else if (state_ == 1) {
            feedbackType = "positive";
          }
          $.ajax({
            url: '/organizer_feedback',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({
              url: "https://office.tripaneer.com/4/listings/95462/edit/introduction/",
              state: state_,
              type: feedbackType,
              message: $("#orgFeedbackMessageInput").val()
            }),
            statusCode: {
              200: function(response) {
                if (response.error != undefined) {
                  flash.error(response.error);
                  return;
                }
                if (state_ == 2) {
                  $("#organizer_feedback_submitted").show();
                  $(".js-org-feedback-controls").hide();
                } else {
                  showOrgFeedbackMessage();
                }
              }
            }
          });
        }
      </script>
    </div>
  </body>
</html>