{% extends './base-listing.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
            <div class="section-title">
              <h3>Title &amp; Intro</h3>
              <small class="title-description"> Introduce the trip and highlight what&#39;s unique about your program</small>
            </div>
            <div class="panel panel-default">
              <div class="panel-body -airy">
                <div role="tabpanel" class="tab-pane active has-fixed-actions">
                  <form id="introduction-form" method="POST"  enctype="multipart/form-data"> {% csrf_token %}{{ form.media }}
                    <!------------------------------------------------- ABOUT YOUR PACKAGE ------------------------------------------------------------>
                    <div class="row section-title">
                      <div class="col-md-9 col-sm-12">
                        <h3> About your listing </h3>
                        <small class="title-description"> Add a link, document or brochure where we can find all the information of the trip. </small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="website" class="control-label label-block"> Link to this package on your website </label>
                          <div class="form-helper"> For example: www.website.com/one-week-package. If not available link to your website home page or Facebook page. </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-9 col-xs-12">
                        <div class="form-group">
                          <!-- <input id="website" name="website" type="text" class="form-control" value="www.rosedior.com"> -->
                          {{ form.url|as_crispy_field }}
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="website" class="control-label label-block"> Documents or brochures </label>
                          <div class="form-helper"> Files with information about the trip </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-9 col-xs-12 listing-attachments">
                        <div class="listing-attachments-section">
                          <div class="attachments-wrap">
                            <div class="attachments">
                              <!-- <input class="attachment-slot" id="file_0" name="file" type="file"> -->
                              {{ form.brochure|as_crispy_field }}
                              {{ form.brochure.errors }}
                            </div>
                            <ul class="attachment-list"></ul>
                            <a class="btn btn-success upload-attachment hide">Upload</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row section-title divider-on-top">
                      <div class="col-md-9 col-sm-12">
                        <h3> Yoga Style </h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="title" class="control-label label-block"> Style <span class="required-label label label-purple-pale"> required </span>
                          </label>
                          <div class="form-helper"> Select some styles that customers can use to filter their search results </div>
                        </div>
                      </div>
                      <style>
                        #id_yoga_style {
                          columns: 2;
                        -webkit-columns: 2;
                        -moz-columns: 2;
                      }
                      </style>

                      <div class="col-lg-6 col-md-9 col-xs-12">
                        <div class="form-group">
                          <!-- <input id="title" name="title" type="text" class="form-control" value="" maxlength="100" char-count="1"> -->
                          {{ form.yoga_style }}
                        </div>
                      </div>
                    </div>
                    <!------------------------------------------------- TITLE ------------------------------------------------------------>
                    <div class="row section-title divider-on-top">
                      <div class="col-md-9 col-sm-12">
                        <h3> Title &amp; Tagline </h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="title" class="control-label label-block"> Title <span class="required-label label label-purple-pale"> required </span>
                          </label>
                          <div class="form-helper"> Attract customers with a title that highlights the duration, destination and activities of the program. </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-9 col-xs-12">
                        <div class="form-group">
                          <!-- <input id="title" name="title" type="text" class="form-control" value="" maxlength="100" char-count="1"> -->
                          {{ form.title|as_crispy_field }}
                        </div>
                      </div>
                    </div>
                    <!------------------------------------------------- TAGLINE ------------------------------------------------------------>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="tagline" class="control-label label-block"> Tagline </label>
                          <div class="form-helper"> Create a memorable phrase that is unique to your listing </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-9 col-xs-12">
                        <div class="form-group">
                          <!-- <input id="tagline" name="tagline" type="text" class="form-control" value="" maxlength="47" char-count="1"> -->
                          {{ form.tagline|as_crispy_field }}
                        </div>
                      </div>
                    </div>
                    <!------------------------------------------------- INTRODUCTION HEADER ------------------------------------------------------------>
                    <div class="row section-title divider-on-top">
                      <div class="col-md-9 col-sm-12">
                        <h3> Introduction </h3>
                        <small class="title-description"> Introduce your trip in a short summary to catch the customers&#39; attention. Recommended length: 5 lines </small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="introduction_header" class="control-label"> Header <span class="required-label label label-purple-pale"> required </span>
                          </label>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-9 col-xs-12">
                        <div class="form-group">
                          <!-- <input id="introduction_header" name="introduction_header" class="form-control" value=""> -->
                          {{ form.header|as_crispy_field }}
                        </div>
                      </div>
                    </div>
                    <!------------------------------------------------- INTRODUCTION CONTENT ------------------------------------------------------------>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="introduction" class="control-label label-block"> Introduction <span class="required-label label label-purple-pale"> required </span>
                          </label>
                          <div class="form-helper"> Formatting help: <br /> - Header starts with a dash <br /> * list items start with asterisk <br /> % paragraphs start with percent 
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-9 col-xs-12">
                        <div class="form-group">
                          <!-- <textarea id="introduction_text" name="introduction_text" rows="8" class="form-control"></textarea> -->
                          {{ form.introduction|as_crispy_field }}
                        </div>
                      </div>
                    </div>
                    <!------------------------------------------------- Highlights ------------------------------------------------------------>
                    <div class="row section-title divider-on-top">
                      <div class="col-md-9 col-sm-12">
                        <h3> Highlights </h3>
                        <small class="title-description"> Highlight what&#39;s special about this trip in 6 to 8 bullet points. </small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="highlights" class="control-label label-block"> Content </label>
                          <div class="form-helper"> Formatting help: <br> - Header starts with a dash <br> * list items start with asterisk <br> % paragraphs start with percent 
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-9 col-xs-12">
                        <div class="form-group">
                          <!-- <textarea id="highlights" name="highlights" rows="8" class="form-control"></textarea> -->
                          {{ form.highlights|as_crispy_field }}
                        </div>
                      </div>
                    </div>
                    <!------------------------------------------------- Private groups ------------------------------------------------------------>
                    <div class="row section-title divider-on-top">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="private_offer" class="control-label label-block"> Private groups </label>
                          <small class="title-description"> This trip is one-to-one and can only be booked by individuals, couples or private groups. </small>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-9 col-xs-12">
                        <div class="form-group">
                          <!-- <input name="private_offer" id="private_offer" type="checkbox"> -->
                           {{ form.private_groups|as_crispy_field }}
                        </div>
                      </div>
                    </div>
                    <!------------------------------------------------- Clean & Safe ------------------------------------------------------------>
                    <div class="row section-title divider-on-top">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="clean_and_safe" class="control-label label-block"> Clean & Safe </label>
                          <small class="title-description"> By ticking this box, you confirm that you comply with your local authority guidelines and requirements for the prevention and control of COVID-19. </small>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-9 col-xs-12">
                        <div class="form-group">
                          <!-- <input name="clean_and_safe" id="clean_and_safe" type="checkbox"> -->
                           {{ form.clean_and_safe|as_crispy_field }} Yes, I hereby confirm that I comply with the local authority guidelines and requirements for the prevention and control of COVID-19.
                        </div>
                      </div>
                    </div>
                    <!------------------------------------------------- Clean & Safe checklist ------------------------------------------------------------>
                    <div class="row section-title divider-on-top">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="covid_checklist" class="control-label label-block"> Clean & Safe checklist </label>
                          <small class="title-description"> Tick the following health and hygiene items you have in place to prevent and control COVID-19. </small>
                        </div>
                      </div>
                      <div class="col-lg-9 col-md-9 col-xs-12">
                        <div class="form-group">
                          <br />
                          {% for checkbox in form.safety_checklist %}
                          <div>
                              <span>
                                      {{ checkbox.tag }}
                                      <label class="" for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
                              </span>
          
                          </div>
                          {% endfor %}
<!--                           
                          <input name="covid_checklist_8" id="covid_checklist_8" type="checkbox">
                          <label for="covid_checklist_8" class="control-label" style="font-weight: normal;"> Use of cleaning chemicals that are effective against coronavirus. </label>
                          <br />
                          <input name="covid_checklist_9" id="covid_checklist_9" type="checkbox">
                          <label for="covid_checklist_9" class="control-label" style="font-weight: normal;"> Linens, towels and laundry washed in accordance with local authority guidelines. </label>
                          <br />
                          <input name="covid_checklist_10" id="covid_checklist_10" type="checkbox">
                          <label for="covid_checklist_10" class="control-label" style="font-weight: normal;"> Guest accommodation is disinfected between stays. </label>
                          <br />
                          <input name="covid_checklist_11" id="covid_checklist_11" type="checkbox">
                          <label for="covid_checklist_11" class="control-label" style="font-weight: normal;"> The accommodation partner we work with follows the guidelines of the local authorities. </label>
                          <br />
                          <input name="covid_checklist_12" id="covid_checklist_12" type="checkbox">
                          <label for="covid_checklist_12" class="control-label" style="font-weight: normal;"> Equipment for activities is disinfected before and/or after use. </label>
                          <br />
                          <br />
                          <label class="control-label">Physical distancing</label>
                          <br />
                          <input name="covid_checklist_13" id="covid_checklist_13" type="checkbox">
                          <label for="covid_checklist_13" class="control-label" style="font-weight: normal;"> Cashless payment available. </label>
                          <br />
                          <input name="covid_checklist_14" id="covid_checklist_14" type="checkbox">
                          <label for="covid_checklist_14" class="control-label" style="font-weight: normal;"> Physical distancing is maintained. </label>
                          <br />
                          <input name="covid_checklist_15" id="covid_checklist_15" type="checkbox">
                          <label for="covid_checklist_15" class="control-label" style="font-weight: normal;"> Instructors maintain a distance from the client at all times possible. </label>
                          <br />
                          <input name="covid_checklist_16" id="covid_checklist_16" type="checkbox">
                          <label for="covid_checklist_16" class="control-label" style="font-weight: normal;"> Activities take place outside where possible. </label>
                          <br />
                          <br />
                          <label class="control-label">Safety features</label>
                          <br />
                          <input name="covid_checklist_1" id="covid_checklist_1" type="checkbox">
                          <label for="covid_checklist_1" class="control-label" style="font-weight: normal;"> Staff follow all safety protocols as directed by the local government. </label>
                          <br />
                          <input name="covid_checklist_2" id="covid_checklist_2" type="checkbox">
                          <label for="covid_checklist_2" class="control-label" style="font-weight: normal;"> Hand sanitizer available in guest rooms and key areas. </label>
                          <br />
                          <input name="covid_checklist_3" id="covid_checklist_3" type="checkbox">
                          <label for="covid_checklist_3" class="control-label" style="font-weight: normal;"> Process in place to check the health of guests. </label>
                          <br />
                          <input name="covid_checklist_4" id="covid_checklist_4" type="checkbox">
                          <label for="covid_checklist_4" class="control-label" style="font-weight: normal;"> First aid kit available. </label>
                          <br />
                          <input name="covid_checklist_5" id="covid_checklist_5" type="checkbox">
                          <label for="covid_checklist_5" class="control-label" style="font-weight: normal;"> A room is available to isolate suspected or infected COVID-19 patients. </label>
                          <br />
                          <input name="covid_checklist_6" id="covid_checklist_6" type="checkbox">
                          <label for="covid_checklist_6" class="control-label" style="font-weight: normal;"> Protective masks are available for all staff. </label>
                          <br />
                          <input name="covid_checklist_7" id="covid_checklist_7" type="checkbox">
                          <label for="covid_checklist_7" class="control-label" style="font-weight: normal;"> Protective masks available for clients. </label> -->
                          <br />
                          <br />
                        </div>
                      </div>
                    </div>
                    <!------------------------------------------------- Health & Hygiene ------------------------------------------------------------>
                    <div class="row section-title divider-on-top">
                      <div class="col-md-9 col-sm-12">
                        <h3> Health & Hygiene </h3>
                        <small class="title-description"> Describe what measures you have to prevent and control COVID-19. </small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="covid_note" class="control-label label-block"> Content </label>
                          <div class="form-helper"> Formatting help: <br> - Header starts with a dash <br> * list items start with asterisk <br> % paragraphs start with percent 
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-9 col-xs-12">
                        <div class="form-group">
                          <!-- <textarea id="covid_note" name="covid_note" rows="8" class="form-control"></textarea> -->
                          {{ form.health_hygiene|as_crispy_field }}
                        </div>
                      </div>
                    </div>
                    <div class="fixed-actions fixed-actions--bottom fixed-actions--right">
                      <button class="btn btn-success js-submit-listing-edit-form"> Save </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            {% endblock %}