{% extends './base-listing.html' %}
{% load static %}
{% block content %}
            <div class="section-title">
              <h3>Program &amp; Itinerary</h3>
              <small class="title-description"> Introduce the trip and highlight what&#39;s unique about your program </small>
            </div>
            <div class="panel panel-default">
                <div class="panel-body -airy">
                    <div role="tabpanel" class="tab-pane active has-fixed-actions">
                      <form id="food-drinks-form" class="js-serialize-this-form" method="POST"> {% csrf_token %} {{ form.media }}
                        <div class="row section-title">
                            <div class="col-md-9 col-sm-12">
                              <h3></h3>
                              <small class="title-description"></small>
                            </div>
                          </div>
                          <!-- ---------------------------------------------DURATION IN DAYS ---------------------------------------- -->
                          <div class="row">
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="duration" class="control-label label-block"> Duration in Nights <span class="required-label label label-purple-pale"> required </span>
                                </label>
                                <div class="form-helper"> Set the duration of the program, based on the number of nights </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                {{ form.program_duration }}
                              </div>
                            </div>
                          </div>
                          <!-- ---------------------------------------------DAYS WITH INSTRUCTION ---------------------------------------- -->
                          <div class="row">
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="days_with_instruction" class="control-label label-block"> Days with instruction <span class="required-label label label-purple-pale"> required </span>
                                </label>
                                <div class="form-helper"> Specify the number of days with planned activities. </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                {{ form.instruction_duration }}
                              </div>
                            </div>
                          </div>
                          <!-- ---------------------------------------------MAX GROUP SIZE ---------------------------------------- -->
                          <div class="row">
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="max_group_size" class="control-label label-block">Maximum group size</label>
                                <div class="form-helper"> Specify if you work with a maximum group size. Set to 0 for unlimited. </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                {{ form.max_group_size }}
                              </div>
                            </div>
                          </div>
                          <!-- ---------------------------------------------MIN GROUP SIZE ---------------------------------------- -->
                          <div class="row">
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="min_group_size" class="control-label label-block">Minimum group size</label>
                                <div class="form-helper"> Specify if you have a minimum number of participants. This means that you will cancel the trip if this number is not met. </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                {{ form.min_group_size }}
                              </div>
                            </div>
                            <div id="wrapper_guaranteed_start_x_days_before" hidden>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label for="min_group_size" class="control-label label-block">Cut-off date minimum group size</label>
                                  <div class="form-helper"> Please specify how many days before the arrival date the trip is guaranteed to start. </div>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <input type="number" name="guaranteed_start_x_days_before" id="guaranteed_start_x_days_before" min="0" class="form-control" value="0">
                                </div>
                              </div>
                            </div>

                          </div>
                          <!-- ---------------------------------------------ITINERARY ---------------------------------------- -->
                          <div class="row section-title divider-on-top">
                            <div class="col-md-9 col-sm-12">
                              <h3>Itinerary</h3>
                              <small class="title-description"> Describe the full program to your customers and share with them how their days will look like. </small>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="itinerary" class="control-label label-block"> Content <span class="required-label label label-purple-pale"> required </span>
                                </label>
                                <div class="form-helper"> Formatting help: <br /> - Header starts with a dash <br /> * list items start with asterisk <br /> % paragraphs start with percent </div>
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-9 col-xs-12">
                              <div class="form-group">
                                {{ form.itinerary_info | safe }}
                              </div>
                            </div>
                          </div>
                          <!-- ---------------------------------------------EXCURSIONS ---------------------------------------- -->
                          <div class="row section-title divider-on-top">
                            <div class="col-md-9 col-sm-12">
                              <h3>Included excursions</h3>
                              <small class="title-description"> Share more details about the excursions that are included in the package. </small>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="excursions" class="control-label label-block"> Content </label>
                                <div class="form-helper"> Formatting help: <br /> - Header starts with a dash <br /> * list items start with asterisk <br /> % paragraphs start with percent <br />
                                  <br /> Long lines are turned into paragraphs and short lines are turned into lists automatically.
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-9 col-xs-12">
                              <div class="form-group">
                                {{ form.excursion_info | safe }}
                              </div>
                            </div>
                          </div>
                          <!-- ---------------------------------------------INSTRUCTOR CONTACTS ---------------------------------------- -->
                          <div class="row section-title divider-on-top">
                            <div class="col-md-9 col-sm-12">
                              <h3>Instructing your guests</h3>
                              <small class="title-description"> Select the instructors or guides that are going to lead the trip. You need to create a profile for them in your account first. </small>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="instructors" class="control-label label-block">Instructors</label>
                                <div class="form-helper"> You can create instructor profiles in the <a href="{% url 'listings:instructor-list' %}" target="_blank">instructors page</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-9 col-xs-12">
                              <div class="form-group">{{ form.instructors }} </div>
                            </div>
                          </div>
                        <div class="fixed-actions fixed-actions--bottom fixed-actions--right">
                            <button class="btn btn-success js-submit-listing-edit-form"> Save </button>
                          </div>
                      </form>
                      <!-- ------------------------------------------------ SUBMIT --------------------------------------- -->

                    </div>
                </div>
            </div>
            {% endblock %}