{% extends './base-listing.html' %}
{% load static %}
{% block content %}
            <div class="section-title">
              <h3>Guest Requirements</h3>
              <small class="title-description"> Introduce the trip and highlight what&#39;s unique about your program </small>
            </div>
            <div class="panel panel-default">
                <div class="panel-body -airy">
                    <div role="tabpanel" class="tab-pane active has-fixed-actions">
                      <form id="food-drinks-form" class="js-serialize-this-form" method="POST"> {% csrf_token %} {{ form.media }}
					<!-- ---------------------------------------------LANGUAGE OF INSTRUCTION ---------------------------------------- -->
					<div class="row">
					  <div class="col-md-3">
						<div class="form-group">
						  <label for="main_language" class="control-label label-block"> Language of instruction </label>
						  <div class="form-helper"> Select the language customers need to communicate in during the trip and program. </div>
						</div>
					  </div>
					  <div class="col-lg-6 col-md-9 col-xs-12">
						<div class="form-group">
              {{ form.instruction_language }}
						</div>
					  </div>
					</div>
					<!-- ---------------------------------------------SKILL ---------------------------------------- -->
					<div class="row">
					  <div class="col-md-3">
						<div class="form-group">
						  <label for="difficulty_levels" class="control-label label-block"> Skill level </label>
						  <div class="form-helper"> Specify what skill level the customers need to have. </div>
						</div>
					  </div>
					  <div class="col-lg-6 col-md-9 col-xs-12">
						<div class="form-group">
              {{ form.skill_level }}
						</div>
					  </div>
					</div>
					<div class="section-title divider-on-top">
					  <h3>Age restrictions</h3>
					  <small class="title-description"> Input 0 if there is no limit </small>
					</div>
					<!-- ---------------------------------------------MINIMUM AGE ---------------------------------------- -->
					<div class="row">
					  <div class="col-md-3">
						<div class="form-group">
						  <label for="min_age" class="control-label label-block"> Minimum age </label>
						</div>
					  </div>
					  <div class="col-md-3">
						<div class="form-group">
						  {{ form.min_age }}
						</div>
					  </div>
					</div>
					<!-- ---------------------------------------------MAXIMUM AGE ---------------------------------------- -->
					<div class="row">
					  <div class="col-md-3">
						<div class="form-group">
						  <label for="max_age" class="control-label label-block"> Maximum age </label>
						</div>
					  </div>
					  <div class="col-md-3">
						<div class="form-group">
						  {{ form.max_age }}
						</div>
					  </div>
					</div>
					<!-- ---------------------------------------------CHILDREN POLICY ---------------------------------------- -->
					<div class="row">
					  <div class="col-md-3"></div>
					  <div class="col-md-6">
						<div class="checkbox">
						  <label>
							{{ form.child_allowed }} Children are allowed as non-participating guests. </label>
						</div>
					  </div>
					</div>
                        <div class="fixed-actions fixed-actions--bottom fixed-actions--right">
                            <button class="btn btn-success js-submit-listing-edit-form"> Save </button>
                          </div>
                      </form>
                      <!-- ------------------------------------------------ SUBMIT --------------------------------------- -->

                    </div>
                </div>
            </div>
            {% endblock %}