{% extends './base-listing.html' %}
{% load static %}
{% block content %}
            <div class="section-title">
              <h3>Food &amp; Drinks</h3>
              <small class="title-description"> Introduce the trip and highlight what&#39;s unique about your program </small>
            </div>
            <div class="panel panel-default">
                <div class="panel-body -airy">
                    <div role="tabpanel" class="tab-pane active has-fixed-actions">
                      <form id="food-drinks-form" class="js-serialize-this-form" method="POST"> {% csrf_token %} {{ form.media }}
                        <div class="row section-title">
                          <div class="col-md-9 col-sm-12">
                            <h3>Food</h3>
                            <!-- <small class="title-description">
                                            Pick the included and available food experience
                                        </small> -->
                          </div>
                        </div>
                        <!-- ------------------------------------------------INCLUDED MEALS --------------------------------------- -->
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group ">
                              <label for="included_meals" class="control-label diff label-block"> Included meals </label>
                              <div class="form-helper"> Select all meals that are included in the package price. </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-9 col-xs-12">
                            <div class="form-group">
                              <style>
                                #id_meals {
                                  columns: 2;
                                -webkit-columns: 2;
                                -moz-columns: 2;
                                list-style-type: none;
                              }
                              </style>
                              {{ form.meals }}
                            </div>
                          </div>
                        </div>
                        <!-- ------------------------------------------------SUPPORTED FOOD TYPES --------------------------------------- -->
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="host" class="control-label label-block"> Food types &amp; dietary requirements </label>
                              <div class="form-helper"> Select all food types that are served, and any dietary requirements that are catered for. </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-9 col-xs-12">
                            <div class="form-group">
                              <style>
                                #id_foods {
                                  columns: 2;
                                -webkit-columns: 2;
                                -moz-columns: 2;
                                list-style-type: none;
                              }
                              </style>
                              {{ form.foods }}
                            </div>
                          </div>
                        </div>
                        <div class="row section-title divider-on-top">
                          <div class="col-md-9 col-sm-12">
                            <h3>Drinks</h3>
                          </div>
                        </div>
                        <!-- ------------------------------------------------SUPPORTED DRINK TYPES --------------------------------------- -->
                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="host" class="control-label label-block"> Drink types included </label>
                              <div class="form-helper"> Select all drink types that are served. </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-9 col-xs-12">
                            <div class="form-group">
                              {{ form.drinks }}
                            </div>
                          </div>
                        </div>
                        <div class="row section-title divider-on-top">
                          <div class="col-md-9 col-sm-12">
                            <h3> Food description </h3>
                            <small class="title-description"> Add other details that can help set the customers&#39; expections on food and inclusions. If the meals are not included, share the restaurants in the area </small>
                          </div>
                        </div>
                        <!-- ------------------------------------------------FOOD --------------------------------------- -->
                        <div class="row">

                          <div class="col-lg-6 col-md-9 col-xs-12">
                            <div class="form-group">
                              {{ form.food_info }}
                            </div>
                          </div>
                        </div>
                        <div class="fixed-actions fixed-actions--bottom fixed-actions--right">
                            <button class="btn btn-success js-submit-listing-edit-form"> Save </button>
                          </div>
                      </form>

                    </div>
                  </div>
            </div>
            {% endblock %}