{% extends './base-listing.html' %}
{% load static %}
{% block content %}

            <div class="section-title">
              <h3>Photos</h3>
              <small class="title-description"> Introduce the trip and highlight what&#39;s unique about your program </small>
            </div>
            <div class="panel panel-default">
                <div class="panel-body -airy">
                    <div role="tabpanel" class="tab-pane active has-fixed-actions">
<style>
    @media (min-width: 720px){
        .image-row {
            text-align: left;
        }
    }
    .example-image-link {
        display: inline-block;
        padding: 4px;
        margin: 0 0.5rem 1rem 0.5rem;
        background-color: lightblue;
        line-height: 0;
        border-radius: 5rem;
        text-decoration: none;
        outline: 0;
    }
    .example-image {
        width: 7rem;
        border-radius: 5rem;
    }
    
</style>

<div class="image-row" style="border-style: dashed; border-color: lightblue; margin-bottom: 100px; padding: 25px; display: inline-flex; flex-direction: row">
    <div class="image-set" style="display: flex; flex-wrap: wrap;">
        {% for image in listing_photos %}
        <div class="image-box">
            
            <a class="example-image-link" href="{{ image.image.url }}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
              <img class="example-image" src="{{ image.image.url }}" alt="Golden Gate Bridge with San Francisco in distance">
            </a>
            <a class="delete_btn" href="{% url 'listings:file-delete' pk=image.pk listing=listing.pk %}"></a>
            
        </div>
      {% endfor %}
    </div>
</div>

                      <form id="food-drinks-form" class="dropzone dz" method="POST" action="{% url 'listings:file-upload' pk=listing.pk %}"> 
                        {% csrf_token %} 
					<!-- ------------------------------------------------ THINGS TO DO --------------------------------------- -->
                           <!-- Dropped photos pending, waiting for upload -->
                        <div class="fallback">
                            <input name="file" type="file" multiple />
                        </div>
                          <!-- Add your photos here -->


                      </form>

                    </div>
                </div>
            </div>
            {% endblock %}