{% extends './base-listing.html' %}
{% load static %}
{% block content %}
            <div class="section-title">
              <h3>Pricing &amp; Inclusions</h3>
              <small class="title-description"> Introduce the trip and highlight what&#39;s unique about your program </small>
            </div>
            <div class="panel panel-default">
                <div class="panel-body -airy">
                    <div role="tabpanel" class="tab-pane active has-fixed-actions">
                      <form id="food-drinks-form" class="js-serialize-this-form" method="POST"> {% csrf_token %} {{ form.media }}
                    <!-- ------------------------------------------------ Currency --------------------------------------- -->
                      <!-- ------------------------------------------------ WHAT'S INCLUDED --------------------------------------- -->
                      <div class="row section-title">
                        <div class="col-md-9 col-sm-12">
                          <h3>What&#39;s included</h3>
                          <small class="title-description"> List down all the activities, amenities and services that are included in the package price. </small>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="whats_included" class="control-label"> Content <span class="required-label label label-purple-pale"> required </span>
                            </label>
                            <br />
                            <div class="form-helper"> This section will automatically be transformed into a bullet point list </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-9 col-xs-12">
                          <div class="form-group">
                            {{ form.included_info | safe }}
                          </div>
                        </div>
                      </div>
                      <!-- ------------------------------------------------ WHAT'S NOT INCLUDED --------------------------------------- -->
                      <div class="row section-title divider-on-top">
                        <div class="col-md-9 col-sm-12">
                          <h3>What&#39;s not included</h3>
                          <small class="title-description"> List down all items relevant to the customers that are not included in the package price. </small>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="whats_not_included" class="control-label"> Content <span class="required-label label label-purple-pale"> required </span>
                            </label>
                            <br />
                            <div class="form-helper"> This section will automatically be transformed into a bullet point list </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-9 col-xs-12">
                          <div class="form-group">
                            {{ form.not_included_info | safe }}
                          </div>
                        </div>
                      </div>
                      <!-- ------------------------------------------------ AVAILABILITY --------------------------------------- -->
                      <div class="row section-title divider-on-top">
                        <div class="col-md-9 col-sm-12">
                          <h3>Availability Note</h3>
                          <small class="title-description"> Share additional information about your prices and availability, like any promotions or discounts you&#39;re currently offering. </small>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="whats_not_included" class="control-label"> Content </label>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-9 col-xs-12">
                          <div class="form-group">
                            {{ form.availability_info | safe }}
                          </div>
                        </div>
                      </div>
                        <div class="fixed-actions fixed-actions--bottom fixed-actions--right">
                            <button class="btn btn-success js-submit-listing-edit-form"> Save </button>
                          </div>
                      </form>

                    </div>
                  </div>
            </div>
      {% endblock %}