{% extends './base-listing.html' %}
{% load static %}
{% block content %}
            <div class="section-title">
              <h3>Location &amp; Accommodation</h3>
              <small class="title-description"> Introduce the trip and highlight what&#39;s unique about your program </small>
            </div>
            <div class="panel panel-default">
              <div class="panel-body -airy">
				<div role="tabpanel" class="tab-pane active has-fixed-actions">
                    <form id="destination-form" class="js-serialize-this-form" method='POST' enctype="multipart/form-data">
                      {% csrf_token %}
                      {{ form.media }}
                      <div class="row">
                        <div class="col-md-9">
                          <div class="row listing-enhancement__title">
                            <div class="col-sm-9">
                              <h3 class="catamaran">Destination &amp; Location</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <br>
                      <!--------------------------------------------------COUNTRY------------------------------------------------>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="country" class="control-label label-block"> Country </label>
                            <div class="form-helper"> Select the country in which the trip will take place. If you&#39;re offering a mult-countries tour, please select the country where most of the tour will happen. </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-9 col-xs-12">
                          <div class="form-group">
                              {{ form.country }}
                          </div>
                        </div>
                      </div>
                      <!--------------------------------------------------ADDRESS------------------------------------------------>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="address" class="control-label label-block"> Address </label>
                            <div class="form-helper"> Provide the full address of the venue, include street name, city, region, province and state. Address </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-9 col-xs-12">
                          <div class="form-group">
                            {{ form.address }}
                          </div>
                        </div>
                      </div>
                      <!------------------------------------------------------- Geo location ------------------------------------------>
                      <!-- <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="geo-location" class="control-label label-block"> Geo location <span class="required-label label label-purple-pale"> required </span>
                            </label>
                            <div class="form-helper"> Automatically detected from address above </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-9 col-xs-12">
                          <div class="form-group">
                            <input type="text" readonly class="form-control" id="location-georef" value="Not available" />
                            <input name="lat" id="lat" type="hidden" value="nan">
                            <input name="lng" id="lng" type="hidden" value="nan">
                            <input type=hidden name="isLiveEnv" id="isLiveEnv" value="true">
                            <div class="btn-group" style="margin-top: 8px">
                              <button class="btn btn-default btn-sm btn-info" name="location" id="location-view-map" type="button" data-target="#location-modal">
                                <i class="fa fa-map-marker"></i> Pick from address </button>
                              <button class="btn btn-default btn-sm btn-default" id="reset-geo-location">
                                <i class="fa fa-close"></i> Reset </button>
                            </div>
                          </div>
                        </div>
                      </div> -->
                      <!-- <div id="location-modal" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              <h4 class="modal-title">Pick a Geo Location</h4>
                              <p>
                                <strong>Note</strong>: Click and drag the marker on the map to pinpoint the precise location of <i>
                                  <span id="location-modal-title"></span>
                                </i>. If necessary, please adjust the zoom level.
                              </p>
                              <br>
                              <p>
                                <strong>Warning</strong>: Only use the Geo Picker if you know the exact location of the activity. The location will be displayed on your listing and customers will expect it to be at the location displayed.
                              </p>
                            </div>
                            <div class="modal-body">
                              <div id="modal-location-map"></div>
                            </div>
                            <div class="modal-footer">
                              <button id="location-modal-ok" type="button" class="btn btn-success">
                                <i class="fa fa-check"></i> OK </button>
                              <button type="button" class="btn btn-danger" data-dismiss="modal">
                                <i class="fa fa-times"></i> Cancel </button>
                            </div>
                          </div>
                        </div>
                      </div> -->
                      <!------------------------------------------------------- LOCATION ------------------------------------------>
                      <div class="row section-title divider-on-top">
                        <div class="col-md-9 col-sm-12">
                          <h3>Location</h3>
                          <small class="title-description">Share what makes the location and neighborhood special. Describe what customers can find nearby.</small>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="location" class="control-label label-block"> Content </label>
                            <div class="form-helper"> Formatting help: <br /> - Header starts with a dash <br /> * list items start with asterisk <br /> % paragraphs start with percent <br />
                              <br /> Long lines are turned into paragraphs and short lines are turned into lists automatically. 
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-9 col-xs-12">
                          <div class="form-group">
                              {{ form.location_info | safe }}
                          </div>
                        </div>
                      </div>
                      <!------------------------------------------------------- ACCOMODATION ------------------------------------------>
                      <div class="row section-title divider-on-top">
                        <div class="col-md-9 col-sm-12">
                          <h3>Accommodation</h3>
                          <small class="title-description">Describe the accommodation(s) the customers will stay in.</small>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="accommodation" class="control-label label-block"> Content </label>
                            <div class="form-helper"> Formatting help: <br /> - Header starts with a dash <br /> * list items start with asterisk <br /> % paragraphs start with percent <br />
                              <br /> Long lines are turned into paragraphs and short lines are turned into lists automatically. 
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-9 col-xs-12">
                          <div class="form-group">
                              {{ form.accomodation_info | safe}}
                          </div>
                        </div>
                      </div>
                      <!--------------------------------------------------- Form End ---------------------------------------->
                      <div class="fixed-actions fixed-actions--bottom fixed-actions--right">
                          <button class="btn btn-success js-submit-listing-edit-form"> Save </button>
                        </div>
                    </form>
                    <!-- ------------------------------------------------ SUBMIT --------------------------------------- -->
                  </div>
              </div>
            </div>
            {% endblock %}