{% extends './base-listing.html' %}
{% load static %}
{% block content %}
            <div class="section-title">
              <h3>Extra &amp; Info</h3>
              <small class="title-description"> Introduce the trip and highlight what&#39;s unique about your program </small>
            </div>
            <div class="panel panel-default">
                <div class="panel-body -airy">
                    <div role="tabpanel" class="tab-pane active has-fixed-actions">
                      <form id="food-drinks-form" class="js-serialize-this-form" method="POST"> {% csrf_token %} {{ form.media }}
					<!-- ------------------------------------------------ THINGS TO DO --------------------------------------- -->
					<div class="row section-title">
                        <div class="col-md-9 col-sm-12">
                          <h3>Things to do with extra payment</h3>
                          <small class="title-description"> Share other things customers can do in the area </small>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="things_to_do" class="control-label"> Content </label>
                            <br />
                            <div class="form-helper"> This section will automatically be transformed into a bullet point list </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-9 col-xs-12">
                          <div class="form-group">
                            {{ form.extra_payment_todo_info | safe }}
                          </div>
                        </div>
                      </div>
                      <!-- ------------------------------------------------ SPA TREATMENTS --------------------------------------- -->
                      <div class="row section-title divider-on-top">
                        <div class="col-md-9 col-sm-12">
                          <h3>Spa treatments</h3>
                          <small class="title-description"> Provide more information about available spa treatments. Make sure to specify if the treatment is included in the package or not. </small>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="spa_treatments" class="control-label"> Content </label>
                            <br />
                            <div class="form-helper"> This section will automatically be transformed into a bullet point list </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-9 col-xs-12">
                          <div class="form-group">
                            {{ form.spa_treament_info | safe }}
                          </div>
                        </div>
                      </div>
                      <!-- ------------------------------------------------ KNOW BEFORE YOU GO --------------------------------------- -->
                      <div class="section-title divider-on-top">
                        <h3>Know before you go</h3>
                        <small class="title-description"> Share any additional information that could be relevant to customers. This section won&#39;t be published on the listing, but will only be visible in the notification emails to customers </small>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="know_before_you_go" class="control-label label-block"> Content </label>
                            <div class="form-helper"> Formatting help: <br /> - Header starts with a dash <br /> * list items start with asterisk <br /> % paragraphs start with percent <br />
                              <br /> Long lines are turned into paragraphs and short lines are turned into lists automatically.
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-9 col-xs-12">
                          <div class="form-group">
                            {{ form.know_before_you_go | safe }}
                          </div>
                        </div>
                      </div>
                        <div class="fixed-actions fixed-actions--bottom fixed-actions--right">
                            <button class="btn btn-success js-submit-listing-edit-form"> Save </button>
                          </div>
                      </form>
                      <!-- ------------------------------------------------ SUBMIT --------------------------------------- -->

                    </div>
                </div>
            </div>
            {% endblock %}