{% extends '../listings/accommodations/accommodation-base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .recent-inquiries ul { margin: 16px 0 36px; padding: 0; list-style-type: none; }
    .recent-inquiries ul li {border-bottom: 1px solid #EEEEEE; margin-bottom: 10px; padding-bottom: 10px; position: relative;}
    .recent-inquiries ul li .mobile-link {display: block; position: absolute;width: 100%; height: 100%; top: 0;}
    .recent-inquiries .customer-name {font-size: 14px; color: #1F2225;}
    .recent-inquiries .label-container .label {margin-bottom: 2px; margin-right: 2px;}
    .recent-inquiries .listing-title { color: #6B747B; font-size: 14px; }
    .recent-inquiries .listing-title p { padding-bottom: 3px; margin-bottom: 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-top: 8px;}
    .recent-inquiries .inquiry-meta { color: #979AA0; font-size: 12px; }
    /* .recent-inquiries .inquiry-meta * {white-space: nowrap;} */
    .recent-inquiries .inquiry-meta strong {color: #18bc9c;}
    
    @media screen and (min-width: 768px) {
        .recent-inquiries ul {margin: 20px 0 80px 0;}
        .recent-inquiries .customer-name {font-size: 16px; }
        .recent-inquiries .listing-title { color: #6B747B; font-size: 15px;}
        .recent-inquiries .listing-title p { margin-top: 0; }
        .recent-inquiries .inquiry-meta { font-size: 14px; }
        .recent-inquiries ul li .mobile-link {display: none;}
    }
    </style>
<section class="admin-content  js-active-tab-name" data-tab-name="Payments">
    <header class="section-title">
       <h1 class="catamaran">Payments</h1>
    </header>
    <div class="panel panel-default">
       <div class="panel-body -airy">
          <input type="hidden" id="is-organizer" value="TRUE">
          <div class="vspace-sm">
             <div class="table-responsive">
                <div id="main_table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                   <div class="row">
                      <div class="col-sm-4">
                         <div class="dataTables_length" id="main_table_length">
                         </div>
                      </div>
                      <div class="col-sm-4">
                         <div id="payment-list-actions"></div>
                      </div>
                      <div class="col-sm-4"></div>
                   </div>
                   <table id="main_table" class="table table-bordered table-striped table-condensed inquiries dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="main_table_info" style="width: 100%;">
                      <thead>
                         <tr role="row">
                            <th class="sorting_desc" tabindex="0" aria-controls="main_table" rowspan="1" colspan="1" style="width: 65px;" aria-sort="descending" aria-label="Inquiry Date: activate to sort column ascending">Inquiry Date</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 254px;" aria-label="Description">Description</th>
                            <th class="sorting" tabindex="0" aria-controls="main_table" rowspan="1" colspan="1" style="width: 50px;" aria-label="Total Price: activate to sort column ascending">Total Price</th>
                            <th class="sorting" tabindex="0" aria-controls="main_table" rowspan="1" colspan="1" style="width: 63px;" aria-label="Deposit Amount: activate to sort column ascending">Deposit Amount</th>
                            <th class="sorting" tabindex="0" aria-controls="main_table" rowspan="1" colspan="1" style="width: 65px;" aria-label="Deposit Paid on: activate to sort column ascending">Deposit Paid on</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 81px;" aria-label="Deposit Refundable Until">Deposit Refundable Until</th>
                            <th class="sorting" tabindex="0" aria-controls="main_table" rowspan="1" colspan="1" style="width: 82px;" aria-label="Tripaneer Commission: activate to sort column ascending">Tripaneer Commission</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 84px;" aria-label="Invoice">Invoice</th>
                            <th class="sorting" tabindex="0" aria-controls="main_table" rowspan="1" colspan="1" style="width: 60px;" aria-label="Deposit payout date: activate to sort column ascending">Deposit payout date</th>
                            <th class="sorting" tabindex="0" aria-controls="main_table" rowspan="1" colspan="1" style="width: 116px;" aria-label="Deposit payout amount: activate to sort column ascending">Deposit payout amount</th>
                         </tr>
                      </thead>
                      <tbody>
                        {% for inquiry in inquiries %}
                        {% if forloop.counter|divisibleby:2 %}
                        <tr role="row" class="even">
                        {% else %}
                        <tr role="row" class="odd">
                        {% endif %}
                            <td class="sorting_1">{{ inquiry.created_at }}</td>
                            <td>{{ inquiry.listing.title }}<br>{{ inquiry.customer.first_name }} {{ inquiry.customer.last_name }}<br>{{ inquiry.arrival_date }}</td>
                            <td>{{ inquiry.total_price|floatformat:2|intcomma }} USD</td>
                            <td>{{ inquiry.deposit_amount|floatformat:2|intcomma }} USD<br><br><b>Paid:</b> {{ inquiry.paid_amount|floatformat:2|intcomma }} USD</td>
                            <td>{{ inquiry.deposit_paid_date }}</td>
                            <td>Non Refundable</td>
                            <td>{{ inquiry.commission_amount }} USD<br>({{ inquiry.commission_percent }}%)</td>
                            <td>{{ inquiry.invoice_no }}<br><br>
                                {% if inquiry.deposit_paid %}
                                <span class="label label-success">Deposit Paid</span>
                                {% else %}
                                <span class="label label-warning">Payment Pending</span>
                                {% endif %}
                            </td>
                            {% if inquiry.deposit_payout_date %}
                            <td>{{ inquiry.deposit_payout_date }}</td>
                            {% else %}
                            <td>TBD</td>
                            {% endif %}
                            <td>{{ inquiry.deposit_payout_amount }} USD<br>
                              {% if inquiry.deposit_payout_amount_confirmed %}
                              <span class="label label-success">Amount Confirmed</span>
                              {% else %}
                              <span class="label label-warning">Amount waiting confirmation</span>
                              {% endif %}
                              <br>
                              {% if inquiry.deposit_payout_complete %}
                              <span class="label label-success">Payout made</span>
                              <span class="label label-success">Batch Reference:13928</span>
                              {% else %}
                              <span class="label label-warning">Payout pending</span>
                              {% endif %}
                           </td>
                         </tr>
                        {% endfor %}
                      </tbody>
                   </table>
                   <div class="row">
                      <div class="col-sm-6">
                         <div class="dataTables_info" id="main_table_info" role="status" aria-live="polite">Showing 1 to 25 of 66 entries (filtered from 477 total entries)</div>
                      </div>
                      <div class="col-sm-6">
                         <div class="dataTables_paginate paging_simple_numbers" id="main_table_paginate">
                            <ul class="pagination">
                              {% if page_obj.has_previous %}
                              <li class="paginate_button previous" id="main_table_previous"><a href="?page={{ page_obj.previous_page_number }}" aria-controls="main_table" data-dt-idx="{{ i }}" tabindex="0">Previous</a></li>
                              {% else %}
                              <li class="paginate_button previous disabled" id="main_table_previous"><a href="#" aria-controls="main_table" data-dt-idx="{{ i }}" tabindex="0">Previous</a></li>
                              {% endif %}
                              {% if page_obj.number|add:'-4' > 1 %}
                              <li class="paginate_button "><a href="?page={{ page_obj.number|add:'-5' }}&{{ get_copy.urlencode }}" aria-controls="main_table" data-dt-idx="{{ i }}" tabindex="0">&hellip;</a></li>
                              {% endif %}
                              {% for i in page_obj.paginator.page_range %}
                                 {% if page_obj.number == i %}
                                    <li class="paginate_button active"><a href="#" aria-controls="main_table" data-dt-idx="{{ i }}" tabindex="0">{{ i }}</a></li>
                                 {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                                    <li class="paginate_button "><a href="?page={{ i }}&{{ get_copy.urlencode }}" aria-controls="main_table" data-dt-idx="{{ i }}" tabindex="0">{{ i }}</a></li>
                                 {% endif %}
                              {% endfor %}
                              {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                              <li class="paginate_button "><a href="?page={{ page_obj.number|add:'5' }}&{{ get_copy.urlencode }}" aria-controls="main_table" data-dt-idx="{{ i }}" tabindex="0">&hellip;</a></li>
                              {% endif %}
                              {% if page_obj.has_next %}
                              <li class="paginate_button next" id="main_table_next"><a href="?page={{ page_obj.next_page_number }}" aria-controls="main_table" data-dt-idx="{{ i }}" tabindex="0">Next</a></li>
                              {% else %}
                              <li class="paginate_button next disabled" id="main_table_next"><a href="#" aria-controls="main_table" data-dt-idx="{{ i }}" tabindex="0">Next</a></li>
                              {% endif %}
                            </ul>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
{% endblock %}