{% extends '../listings/accommodations/accommodation-base.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block content %}

<header class="section-title">
    <h1 class="catamaran">Payment Information</h1>
  </header>
  <div id="organizer">
    <div class="panel panel-default">
      <div class="panel-body -airy">
        <div role="tabpanel" id="profile" class="tab-pane" i-section="Business Profile">
          <form enctype="multipart/form-data"  method="POST">
            {% csrf_token %}
            <!-- load supported payment methods -->
            <div class="row section-title">
              <div class="col-sm-12">
                <h3>Supported payments</h3>
                <small class="title-description">Please select what payment methods you accept from the guests</small>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="country" class="control-label">Supported payment methods</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                    {{ form.supported_payments|as_crispy_field }}
                </div>
              </div>
            </div>
            <!-- Loading the payout section -->
            <div id="save_or_cancel_button" class="pull-right">
              <input id="save_button" type="submit" class="btn btn-success save" value="Save">
              <a id="cancel" class="btn btn-danger" href="/4/organizers/">
                <i class="fa fa-times"></i> Cancel </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  
  {% endblock %}