{% extends '../listings/accommodations/accommodation-base.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block content %}

<header class="section-title">
    <h1 class="catamaran">Payment Information</h1>
  </header>
  <div id="organizer">
    <div class="panel panel-default">
      <div class="panel-body -airy">
        <div role="tabpanel" id="profile" class="tab-pane" i-section="Business Profile">
          <form enctype="multipart/form-data"  method="POST">
            {% csrf_token %}
            <!-- load supported payment methods -->
            <div class="row section-title">
              <div class="col-sm-12">
                <h3>Supported payments</h3>
                <small class="title-description">Please select what payment methods you accept from the guests</small>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="country" class="control-label">Supported payment methods</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                    {{ form.supported_payments|as_crispy_field }}
                </div>
              </div>
            </div>
            <!-- Loading the payout section -->
            <div class="row section-title divider-on-top">
              <div class="col-sm-12">
                <h3>Payout information</h3>
                <small class="title-description">Please select how you would like us to pay you the deposit and fill in the necessary information</small>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="country" class="control-label">Preferred payout method</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                    {{ form.payout_method|as_crispy_field }}
                </div>
              </div>
            </div>
            <div id="paypal" style="background-color: rgba(255, 0, 0, 0.1);">
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="paypal" class="control-label">Wise Account</label>
                    <div class="form-helper">
                      <p>Please provide your Wise account and not a wise.me link. We recommend you fill both your wise details and bank details for a smooth payout.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    {{ form.wise_account|as_crispy_field }}
                    <p>We recommend you fill both your wise details and bank details for a smooth payout.</p>
                  </div>
                </div>
              </div>
            </div>
            <div id="bank" style="display: block;">
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="bank_country" class="control-label">Bank country</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    {{ form.bank_country|as_crispy_field }}
                  </div>
                </div>
              </div>
              <div id="bank_account_currency" data-account-currency="local" data-is-hyperwallet-token="" style="display: block;">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="bank_currency" class="control-label">Bank account currency</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                        {{ form.bank_currency|as_crispy_field }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div id="country_dependant_fields" style="" class="col-sm-9">
                  <div class="row" id="bank_name">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="bank_name" class="control-label">Bank name</label>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="form-group">
                        {{ form.bank_name|as_crispy_field }}
                    </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="beneficiary_name" class="control-label">Beneficiary name</label>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="form-group">
                        {{ form.beneficiary_name|as_crispy_field }}
                      </div>
                    </div>
                  </div>
                  <div class="row" id="routing_number">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="routing_number" class="control-label">ABA/IBAN Routing Number</label>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="form-group">
                        {{ form.bank_routing_number|as_crispy_field }}
                      </div>
                    </div>
                  </div>
                  <div class="row" id="routing_number">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="routing_number" class="control-label">Swift Code</label>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="form-group">
                        {{ form.bank_swift_number|as_crispy_field }}
                      </div>
                    </div>
                  </div>
                  <div class="row" id="bank_id">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="bank_id" class="control-label">Bank ID</label>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="form-group">
                        {{ form.bank_id|as_crispy_field }}
                      </div>
                    </div>
                  </div>
                  <div class="row" id="branch_id">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="branch_id" class="control-label">Branch ID</label>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="form-group">
                        {{ form.bank_branch_id|as_crispy_field }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="save_or_cancel_button" class="pull-right">
              <input id="save_button" type="submit" class="btn btn-success save" value="Save">
              <a id="cancel" class="btn btn-danger" href="/4/organizers/">
                <i class="fa fa-times"></i> Cancel </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  
  {% endblock %}