.clearfix:after,
.clearfix:before,
.t-container-fluid:after,
.t-container-fluid:before,
.t-container:after,
.t-container:before,
.t-row:after,
.t-row:before {
  content: " ";
  display: table;
}
.clearfix:after,
.t-container-fluid:after,
.t-container:after,
.t-row:after {
  clear: both;
}
.t-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.t-container .clear-padding {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 767px) {
  .t-container {
    width: calc(100% - 24px);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .t-container {
    width: calc(100% - 24px);
  }
}
@media (min-width: 1024px) {
  .t-container {
    width: 964px;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .t-container.t-container-wider {
    width: 964px;
  }
}
@media (min-width: 1200px) {
  .t-container.t-container-wider {
    width: 1164px;
  }
}
.t-container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.t-container-fluid .clear-padding {
  padding-left: 0;
  padding-right: 0;
}
.t-row {
  margin-left: -12px;
  margin-right: -12px;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 12px;
  padding-right: 12px;
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1024px) {
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
.inbox .conversation--title {
  font-size: 18px;
  line-height: 1.5rem;
}
.inbox .conversation .message-content .status {
  font-size: 12px;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .inbox .conversation .message-content .status {
    font-size: 14px;
    margin-bottom: 16px;
  }
}
.inbox .conversation .message-content h2 {
  color: #202224;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}
.inbox .conversation .message-content .conversation--listing-title {
  display: none;
}
@media (min-width: 768px) {
  .inbox .conversation .message-content .conversation--listing-title {
    display: block;
  }
}
.inbox .conversation .message-content section {
  border-bottom: 1px solid #d4d7da;
  padding-bottom: 24px;
  margin: 8px 0 24px;
}
.inbox .conversation .message-content section h3 {
  color: #abaeb1;
  font-size: 12px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.inbox .conversation .message-content section.take-action .deposit {
  color: #202224;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  margin-bottom: 8px;
}
.inbox .conversation .message-content section.take-action .deposit .amount {
  color: #02bf9b;
  font-weight: 700;
}
.inbox
  .conversation
  .message-content
  section.take-action
  .deposit
  .amount
  .original-currecy {
  color: #7c8086;
  font-weight: 400;
}
.inbox
  .conversation
  .message-content
  section.take-action
  .deposit
  .amount
  .customer-currency {
  color: #7fd8c7;
}
.inbox .conversation .message-content section.take-action .message {
  color: #576a7d;
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .inbox .conversation .message-content section.take-action .wrapper {
    column-gap: 40px;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}
.inbox .conversation .message-content section .take-action {
  font-size: 16px;
  margin: 8px 0;
  padding: 12px 28px;
  width: 100%;
}
@media (min-width: 768px) {
  .inbox .conversation .message-content section .take-action {
    width: auto;
  }
}
.inbox .conversation .message-content section .take-action .time-left {
  display: block;
  font-size: 14px;
  font-weight: 100;
  height: 21px;
  min-width: 150px;
  text-align: center;
}
.inbox .conversation .message-content section.booking-receipt .paid,
.inbox .conversation .message-content section.booking-receipt .remaining {
  color: #202224;
  font-size: 14px;
  font-weight: 400;
}
.inbox .conversation .message-content section.booking-receipt .amount {
  color: #02bf9b;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
}
.inbox
  .conversation
  .message-content
  section.booking-receipt
  .amount
  .original-currency {
  color: #7c8086;
  font-weight: 400;
}
.inbox .conversation .message-content section.organizer-details address p span {
  color: #202224;
}
.inbox .conversation .message-content .package {
  margin: 0 -16px 24px;
  padding: 8px 16px 16px 16px;
}
.inbox .conversation .message-content .package--info {
  color: #abaeb1;
  line-height: 24px;
  margin: 0 0 16px;
}
.inbox .conversation .message-content .package--info > span {
  margin-right: 16px;
  white-space: nowrap;
}
.inbox .conversation .message-content .package--info svg {
  margin-right: 4px;
  vertical-align: middle;
}
.inbox .conversation .message-content .package--info .date svg {
  margin-top: -4px;
}
.inbox .conversation .message-content .package--info .nr-persons svg {
  margin-top: -4px;
}
.inbox .conversation .message-content .package--info .roomtype svg {
  margin-top: -2px;
}
.inbox .conversation .message-content .package--price {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
}
.inbox .conversation .message-content .package--price strong {
  color: #202224;
  font-weight: 900;
}
.inbox
  .conversation
  .message-content
  .package--price
  strong
  .customer-currency {
  color: #abaeb1;
  font-weight: 400;
}
.inbox .conversation .message-content .organizer-details a {
  color: #02bf9b;
  text-decoration: underline;
}
.inbox .conversation .message-content .to-conversation {
  text-align: center;
}
.inbox .conversation .message-content .to-conversation .bttn {
  height: 48px;
  line-height: 36px;
  margin-bottom: 16px;
  width: 100%;
}
@media (min-width: 768px) {
  .inbox .conversation .message-content .to-conversation .bttn {
    width: auto;
  }
}
.inbox .conversation .message-content .explore-similar {
  text-align: center;
}
.inbox .conversation .message-content .explore-similar .bttn {
  font-size: 16px;
  height: 48px;
  margin-bottom: 16px;
  padding: 12px 28px;
  width: 100%;
}
@media (min-width: 768px) {
  .inbox .conversation .message-content .explore-similar .bttn {
    width: auto;
  }
}
.inbox .conversation .message-content .section-with-icon {
  display: flex;
}
.inbox .conversation .message-content .section-with-icon aside {
  margin-right: 16px;
  width: 80px;
}
.inbox .conversation .message-content .conversation-thread {
  border-bottom: none;
  margin-bottom: 0;
}
.inbox .conversation .conversation-thread header {
  margin-bottom: 8px;
  position: relative;
}
.inbox .conversation .conversation-thread header h4 {
  color: #202224;
  font-weight: 700;
  text-transform: capitalize;
}
.inbox .conversation .conversation-thread header time {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}
.inbox .conversation .conversation-thread header time::first-letter {
  text-transform: uppercase;
}
.inbox .conversation .conversation-thread .conversation-message {
  background: #f7f7f7;
  border-radius: 6px;
  margin-bottom: 24px;
  padding: 16px;
}
.inbox
  .conversation
  .conversation-thread
  .conversation-message.from--organizer {
  background: #e8f6fc;
  margin-right: 60px;
}
.inbox .conversation .conversation-thread .conversation-message.from--customer {
  background: rgba(220, 248, 244, 0.6);
  margin-left: 60px;
}
.inbox .conversation .conversation-thread .conversation-message.from--us {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-left: 3px solid #02bf9b;
  border-radius: 0;
  margin: 24px -16px;
}
.inbox .conversation .conversation-thread .conversation-message:last-child {
  margin-bottom: 0;
}
.inbox
  .conversation
  .conversation-thread
  .conversation-message
  .system-message-snippet {
  border-left: 3px solid;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-style: italic;
  margin-top: 8px;
  padding-left: 16px;
}
.inbox .conversation .conversation-thread .conversation-message .message-body {
  color: #202224;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
}
.inbox .conversation .conversation-thread .from--customer + .from--customer,
.inbox .conversation .conversation-thread .from--organizer + .from--organizer,
.inbox .conversation .conversation-thread .from--us + .from--us {
  margin-top: -20px;
}
.inbox
  .conversation
  .conversation-thread
  .from--customer
  + .from--customer
  header
  h4,
.inbox
  .conversation
  .conversation-thread
  .from--organizer
  + .from--organizer
  header
  h4,
.inbox .conversation .conversation-thread .from--us + .from--us header h4 {
  visibility: hidden;
}
.inbox .message-content section.other-conversations {
  border-bottom: none;
}
.inbox .message-content section.other-conversations .messages {
  border-bottom: solid 1px #d9d9d9;
}
.inbox .message-content section.other-conversations .messages:last-child {
  border-bottom: none;
}
.inbox .message-content section.other-conversations .messages .message {
  cursor: pointer;
  padding: 16px;
}
.inbox .message-content section.other-conversations .messages .message .meta {
  right: 16px;
}
.inbox .message-content section.other-conversations .messages .message:hover {
  background: rgba(220, 248, 244, 0.3);
}
.inbox
  .message-content
  section.other-conversations
  .messages
  .message:hover
  .meta {
  right: 16px;
}
