.organizer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.organizer h1.catamaran,
.organizer h2.title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.section-wrapper .section {
  background: 0 0;
  margin: 0 auto 96px;
  position: relative;
  max-width: 1140px;
  padding: 0 16px;
}
.section-wrapper .section .swiper-container {
  margin-left: 16px;
}
@media (min-width: 768px) {
  .section-wrapper .section .swiper-container {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .section-wrapper .section {
    padding: 0;
  }
}
.section-wrapper .section__header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 16px;
  color: #202224;
  text-align: center;
}
@media (min-width: 768px) {
  .section-wrapper .section__header {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 24px;
    text-align: left;
  }
}
.section-wrapper .section__header span {
  color: #abaeb1;
  line-height: 24px;
  font-size: 16px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .section-wrapper .section__header span {
    font-size: 24px;
    line-height: 32px;
  }
}
.sections-wrapper {
  background: #fff;
  margin-bottom: 96px;
  padding: 56px 0;
  width: 100%;
}
.sections-wrapper .section-wrapper .section {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .sections-wrapper .section-wrapper .section {
    margin-bottom: 96px;
  }
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    15deg,
    rgba(0, 0, 0, 0.3) 0,
    rgba(0, 0, 0, 0) 60%
  );
  cursor: pointer;
  z-index: 0;
}
.fullwidth-header.organizer .box-container {
  margin-bottom: 0;
  height: 376px;
}
@media (min-width: 768px) {
  .fullwidth-header.organizer .box-container {
    height: 460px;
  }
}
.fullwidth-header.organizer .box-container .hero-box.box-main {
  background-color: transparent;
  margin-bottom: 15px;
  margin-top: 35px;
}
.fullwidth-header.organizer .box-container .hero-box.box-main .box-content {
  height: auto;
  margin-bottom: 0;
  padding: 0 40px 0 25px;
}
@media (min-width: 768px) {
  .fullwidth-header.organizer .box-container .hero-box.box-main .box-content {
    height: 225px;
  }
}
.fullwidth-header.organizer .box-container .hero-box.box-main h1,
.fullwidth-header.organizer .box-container .hero-box.box-main h2,
.fullwidth-header.organizer .box-container .hero-box.box-main p {
  color: #fff;
  text-shadow: 0 0 2px #202224;
}
.fullwidth-header.organizer .box-container .hero-box.box-main h1 {
  font-size: 44px;
  line-height: 52px;
  font-weight: 600;
  min-height: auto;
  margin-bottom: 10px;
  text-shadow: 0 2px 4px #000;
}
@media (max-width: 767px) {
  .fullwidth-header.organizer .box-container .hero-box.box-main h1 {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }
}
.fullwidth-header.organizer .box-container .hero-box.box-main h2 {
  font-size: 16px;
  line-height: 24px;
  text-shadow: 0 2px 4px #000;
  text-transform: none;
  font-weight: 300;
  margin-bottom: 0;
  display: inline-block;
}
@media (max-width: 767px) {
  .fullwidth-header.organizer .box-container .hero-box.box-main h2 {
    display: none;
  }
}
.fullwidth-header.organizer
  .box-container
  .hero-box.box-main
  .organizer-profile--share {
  padding: 0;
}
@media (max-width: 767px) {
  .fullwidth-header.organizer
    .box-container
    .hero-box.box-main
    .organizer-profile--share {
    display: none;
  }
}
.fullwidth-header.organizer
  .box-container
  .hero-box.box-main
  .organizer-profile--share
  .share-cta {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-shadow: 0 2px 4px #000;
}
.fullwidth-header.organizer
  .box-container
  .hero-box.box-main
  .organizer-profile--share
  .socialwidget {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.fullwidth-header.organizer
  .box-container
  .hero-box.box-main
  .organizer-profile--share
  .socialwidget
  .socialbutton {
  border-radius: 6px;
  margin: 0 4px;
  padding: 8px 10px 8px 15px;
  width: 102px;
}
.fullwidth-header.organizer
  .box-container
  .hero-box.box-main
  .organizer-profile--share
  .socialwidget
  .socialbutton:before {
  height: 23px;
  width: 24px;
}
.fullwidth-header.organizer
  .box-container
  .hero-box.box-main
  .organizer-profile--share
  .socialwidget
  .socialfacebook:before {
  width: 16px;
  background-color: #3b5a97;
}
.fullwidth-header.organizer
  .box-container
  .hero-box.box-main
  .organizer-profile--share
  .socialwidget
  .socialtwitter:before {
  width: 22px;
  background-color: #1ca1f1;
}
.fullwidth-header.organizer
  .box-container
  .hero-box.box-main
  .organizer-profile--share
  .socialwidget
  .socialstumbleupon:before {
  background-color: #eb4925;
}
.fullwidth-header.organizer
  .box-container
  .hero-box.box-main
  .organizer-profile--share
  .socialwidget
  .socialpinterest:before {
  background-color: #bd091c;
}
.fullwidth-header.organizer
  .box-container
  .hero-box.box-main
  .organizer-profile--share
  .socialwidget
  .sociallinkedin:before {
  background-color: #0277b5;
}
.fullwidth-header.organizer
  .box-container
  .hero-box.box-main
  .organizer-profile--share
  .socialwidget
  .socialmail:before {
  background-color: #515355;
}
.fullwidth-header.organizer .box-container .hero-box.box-main .box-content {
  padding: 0 40px 120px 25px;
}
@media (min-width: 768px) {
  .fullwidth-header.organizer .box-container .hero-box.box-main .box-content {
    padding: 65px 40px 0 40px;
  }
}
.organizer-menu {
  background: #fff;
  height: 70px;
  width: 100%;
}
@media (min-width: 768px) {
  .organizer-menu .menu-items {
    justify-content: center;
  }
}
.organizer-menu__links a {
  color: #515355;
  display: block;
  font-weight: 700;
  font-size: 14px;
  height: 70px;
  margin: 0 25px;
  padding-top: 28px;
  width: auto;
}
.organizer-menu__links a:hover {
  color: #02bf9b;
}
@media (min-width: 768px) {
  .organizer-menu__links a {
    font-weight: 100;
    padding-top: 26px;
  }
  .organizer-menu__links a:hover {
    font-weight: 300;
  }
}
.organizer-description {
  color: #515355;
  font-size: 16px;
  line-height: 24px;
  margin: 56px auto;
  text-align: center;
  width: 90%;
}
@media (min-width: 768px) {
  .organizer-description {
    width: 752px;
  }
}
.card {
  background: #fff;
  border-radius: 6px;
  padding: 16px;
}
.organizer-listings .listing-card {
  padding: 0;
  margin-right: 16px;
}
.organizer-listings .listing-card:last-child {
  margin-right: 0;
}
.organizer-listings .listing-card .favorite.favorite-new-showcard {
  top: 12px;
  right: 12px !important;
  left: auto;
}
.organizer-listings .listing-card .favorite.favorite-new-showcard path {
  transition: all 0.2s ease-in-out;
}
.organizer-listings .listing-card .favorite.favorite-new-showcard:hover path {
  fill: #e63c15;
  fill-opacity: 1;
}
.organizer-listings
  .listing-card
  .favorite.favorite-new-showcard
  .ebs-icon-heart-stroked
  path {
  fill-opacity: 0.25;
  fill: #202224;
}
.organizer-listings .listing-card .favorite.favorite-new-showcard .ebs-icon,
.organizer-listings
  .listing-card
  .favorite.favorite-new-showcard
  .ebs-icon.ebs-icon--shadow {
  padding: 0;
  background: 0 0;
}
.organizer-listings
  .listing-card
  .favorite.favorite-new-showcard
  .ebs-icon.ebs-icon--shadow::before,
.organizer-listings
  .listing-card
  .favorite.favorite-new-showcard
  .ebs-icon::before {
  display: none;
}
.organizer-listings .listing-card__photo {
  height: 235px;
  background-size: cover;
  border-radius: 6px 6px 0 0;
}
.organizer-listings .listing-card__header {
  height: 130px;
}
.organizer-listings .listing-card__header__title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  line-height: 26px;
  color: #202224;
  font-weight: 500;
  margin-bottom: 10px;
  max-height: 80px;
  overflow: hidden;
}
.organizer-listings .listing-card__header__availability {
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  color: #abaeb1;
}
.organizer-listings .listing-card__content {
  background: #fff;
  border-radius: 6px;
  padding: 16px;
  position: relative;
}
.organizer-listings .listing-card__content:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: calc(100% - 1px);
  height: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.organizer-listings .listing-card__details__main {
  display: flex;
  justify-content: space-between;
}
.organizer-listings .listing-card__features {
  color: #515355;
  line-height: 22px;
  font-weight: 300;
  font-size: 14px;
  list-style: none;
}
.organizer-listings .listing-card__features li {
  margin-bottom: 8px;
}
.organizer-listings .listing-card__price {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.organizer-listings .listing-card__price__from {
  color: #abaeb1;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}
.organizer-listings .listing-card__price__amount {
  color: #202224;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.organizer-listings .listing-card__explore {
  color: #02bf9b;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 700;
  margin-top: 24px;
}
.organizer-listings .listing-card__explore:after {
  content: " >";
}
.organizer-instructors p {
  color: #515355;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 24px;
}
.organizer-instructors .instructor-profile--photo {
  text-align: center;
  position: relative;
}
.organizer-instructors .instructor-profile--photo img {
  width: 104px;
  height: 104px;
}
.organizer-instructors .instructor-name {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
}
.organizer-instructors
  .card-instructor
  .instructor-profile--photo
  .certified-illustration {
  bottom: 0;
  right: 35%;
  position: absolute;
}
.organizer-instructors .certificates-intro {
  margin-top: -16px;
  text-align: center;
}
.organizer-instructors .certificate-list {
  margin-top: 16px;
  margin-bottom: 16px;
}
.swiper-wrapper {
  display: flex;
}
.swiper-wrapper .swiper-slide {
  box-sizing: border-box;
  height: auto;
  position: relative;
}
.swiper-wrapper .swiper-slide video {
  width: 100%;
}
.swiper-wrapper .swiper-slide .video-wrapper {
  border-radius: 6px;
  background: #000;
  overflow: hidden;
}
.swiper-wrapper .swiper-slide .video-wrapper.video-wrapper-not-mobile {
  max-height: 315px;
}
.swiper-wrapper .swiper-slide .video-wrapper.video-wrapper-not-mobile video {
  height: 100%;
}
.video-wrapper-mobile {
  margin-bottom: 8px;
  margin-left: 16px;
  max-width: calc(100% - 32px);
  height: auto;
}
.video-wrapper-mobile video {
  max-width: 100%;
  background-color: #000;
}
.swiper-button-next,
.swiper-button-prev {
  background: #02bf9b;
  border-radius: 50%;
  bottom: -48px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  height: 32px;
  padding: 2px;
  position: absolute;
  width: 32px;
}
@media (min-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    bottom: auto;
    display: block;
    top: calc(50% + 40px);
  }
}
.swiper-button-next:before,
.swiper-button-prev:before {
  color: #fff;
  content: "\f10f";
  font-family: ebs-fonticon;
  left: 7px;
  position: relative;
  top: 3px;
}
.swiper-button-next.disabled,
.swiper-button-prev.disabled {
  display: none;
  opacity: 0.2;
  background: #cecfd0;
}
.swiper-button-next.disabled:before,
.swiper-button-prev.disabled:before {
  color: #686d71;
}
.swiper-button-next:before {
  content: "\f110";
  left: 9px;
}
.organizer-reviews,
.organizer-testimonials {
  background: #fff;
  border-bottom: none;
  font-size: 16px;
  line-height: 24px;
}
.organizer-reviews .section__header,
.organizer-testimonials .section__header {
  margin-bottom: 32px;
}
@media (min-width: 1024px) {
  .organizer-reviews .section__header,
  .organizer-testimonials .section__header {
    margin-bottom: 24px;
  }
}
.organizer-reviews .review__user-name,
.organizer-testimonials .review__user-name {
  color: #202224;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  margin-bottom: 8px;
}
.organizer-reviews .review__user-source,
.organizer-testimonials .review__user-source {
  color: #abaeb1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  margin-bottom: 20px;
}
.organizer-reviews .review__highlight,
.organizer-testimonials .review__highlight {
  color: #202224;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 24px;
}
.organizer-reviews .review__text,
.organizer-testimonials .review__text {
  max-width: 90%;
}
.show-more-cta {
  font-size: 16px;
  font-weight: 700;
  color: #02bf9b;
}
.organizer-referral-container .listing-share-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
  justify-content: center;
  background: 0 0;
}
.organizer-referral-container
  .listing-share-container
  .share__link.social-button {
  border: 1px solid #dcddde;
  border-radius: 6px;
  padding: 8px;
  margin: 4px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  width: auto;
  height: auto;
}
.organizer-referral-container
  .listing-share-container
  .share__link.social-button
  span {
  margin-left: 5px;
  pointer-events: none;
}
.organizer-referral-container
  .listing-share-container
  .referral-share-link-wrapper {
  width: 50%;
}
.fullwidth-header.organizer .box-container.organizer-referrals-box-container {
  height: auto;
}
@media (min-width: 768px) {
  .fullwidth-header.organizer .box-container.organizer-referrals-box-container {
    height: 460px;
  }
}
.fullwidth-header.organizer
  .box-container.organizer-referrals-box-container
  .hero-box.box-main {
  padding-top: 0;
}
.fullwidth-header.organizer
  .box-container.organizer-referrals-box-container
  .hero-box.box-main
  .organizer-profile--share {
  display: block;
}
.fullwidth-header.organizer
  .box-container.organizer-referrals-box-container
  .hero-box.box-main
  .referral-share-link-wrapper {
  width: 100%;
}
@media (min-width: 768px) {
  .fullwidth-header.organizer
    .box-container.organizer-referrals-box-container
    .hero-box.box-main
    .referral-share-link-wrapper {
    width: 50%;
  }
}
.fullwidth-header.organizer
  .box-container.organizer-referrals-box-container
  .hero-box.box-main
  .social-button.share__link {
  color: #202224;
  text-shadow: none;
}
.fullwidth-header.organizer
  .box-container.organizer-referrals-box-container
  .hero-box.box-main
  .box-content {
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .fullwidth-header.organizer
    .box-container.organizer-referrals-box-container
    .hero-box.box-main
    .box-content {
    padding-bottom: 120px;
  }
}
.organizer-content--instructor-image {
  border-radius: 50%;
}
@media (min-width: 767px) and (max-width: 1023px) {
  #instructors-block,
  #listings-block,
  #reviews-block,
  #videos-block {
    padding: 0 0 0 16px;
  }
}
#instructors-block .swiper-wrapper .swiper-slide,
#listings-block .swiper-wrapper .swiper-slide,
#reviews-block .swiper-wrapper .swiper-slide,
#videos-block .swiper-wrapper .swiper-slide {
  max-width: 85%;
  width: 85%;
  margin-right: 16px;
}
#instructors-block .swiper-wrapper .swiper-slide:last-child,
#listings-block .swiper-wrapper .swiper-slide:last-child,
#reviews-block .swiper-wrapper .swiper-slide:last-child,
#videos-block .swiper-wrapper .swiper-slide:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  #instructors-block .swiper-wrapper .swiper-slide,
  #listings-block .swiper-wrapper .swiper-slide,
  #reviews-block .swiper-wrapper .swiper-slide,
  #videos-block .swiper-wrapper .swiper-slide {
    max-width: 45%;
    width: 45%;
    margin-right: 16px;
  }
  #instructors-block .swiper-wrapper .swiper-slide:last-child,
  #listings-block .swiper-wrapper .swiper-slide:last-child,
  #reviews-block .swiper-wrapper .swiper-slide:last-child,
  #videos-block .swiper-wrapper .swiper-slide:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  #instructors-block .swiper-wrapper .swiper-slide,
  #listings-block .swiper-wrapper .swiper-slide,
  #reviews-block .swiper-wrapper .swiper-slide,
  #videos-block .swiper-wrapper .swiper-slide {
    margin-right: 24px;
    max-width: 364px;
    width: 364px;
  }
}
.swiper-button-next {
  left: auto;
  display: none;
}
@media (min-width: 1024px) {
  .swiper-button-next {
    display: block;
    right: -48px;
  }
}
.swiper-button-prev {
  right: auto;
  display: none;
}
@media (min-width: 1024px) {
  .swiper-button-prev {
    display: block;
    left: -48px !important;
  }
}
.clearfix:after,
.clearfix:before,
.t-container-fluid:after,
.t-container-fluid:before,
.t-container:after,
.t-container:before,
.t-row:after,
.t-row:before {
  content: " ";
  display: table;
}
.clearfix:after,
.t-container-fluid:after,
.t-container:after,
.t-row:after {
  clear: both;
}
.t-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.t-container .clear-padding {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 767px) {
  .t-container {
    width: calc(100% - 24px);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .t-container {
    width: calc(100% - 24px);
  }
}
@media (min-width: 1024px) {
  .t-container {
    width: 964px;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .t-container.t-container-wider {
    width: 964px;
  }
}
@media (min-width: 1200px) {
  .t-container.t-container-wider {
    width: 1164px;
  }
}
.t-container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.t-container-fluid .clear-padding {
  padding-left: 0;
  padding-right: 0;
}
.t-row {
  margin-left: -12px;
  margin-right: -12px;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 12px;
  padding-right: 12px;
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1024px) {
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
[data-icon]:before {
  content: attr(data-icon);
}
.ebs-icon-1-star:before,
.ebs-icon-2-star:before,
.ebs-icon-3-star:before,
.ebs-icon-4-star:before,
.ebs-icon-5-star:before,
.ebs-icon-accommodation-blue:before,
.ebs-icon-accommodation-front:before,
.ebs-icon-accommodation-green:before,
.ebs-icon-accommodation:before,
.ebs-icon-accomodation:before,
.ebs-icon-air-conditioning:before,
.ebs-icon-airplane-takeoff:before,
.ebs-icon-airplane:before,
.ebs-icon-arrow-down:before,
.ebs-icon-arrow-gototop:before,
.ebs-icon-arrow-left:before,
.ebs-icon-arrow-right:before,
.ebs-icon-arrow-up:before,
.ebs-icon-article:before,
.ebs-icon-atm:before,
.ebs-icon-attachment:before,
.ebs-icon-backpack:before,
.ebs-icon-bathroom:before,
.ebs-icon-bbq:before,
.ebs-icon-beach:before,
.ebs-icon-bed-type-bunk:before,
.ebs-icon-bed-type-canopy:before,
.ebs-icon-bed-type-double:before,
.ebs-icon-bed-type-king-size:before,
.ebs-icon-bed-type-queen-size:before,
.ebs-icon-bed-type-single:before,
.ebs-icon-bed-type-sofa:before,
.ebs-icon-bed-type-twin:before,
.ebs-icon-bell:before,
.ebs-icon-bicycle:before,
.ebs-icon-big_wave_surfing:before,
.ebs-icon-bodyboarding:before,
.ebs-icon-bolt:before,
.ebs-icon-book:before,
.ebs-icon-calendar-arrival:before,
.ebs-icon-calendar-departure:before,
.ebs-icon-calendar-small:before,
.ebs-icon-calendar-tiny:before,
.ebs-icon-calendar:before,
.ebs-icon-call:before,
.ebs-icon-callus:before,
.ebs-icon-car-rental:before,
.ebs-icon-categories:before,
.ebs-icon-certified:before,
.ebs-icon-check-circle:before,
.ebs-icon-check-rounded-stroked:before,
.ebs-icon-checked-thin:before,
.ebs-icon-checked:before,
.ebs-icon-checklist:before,
.ebs-icon-circle-full:before,
.ebs-icon-circle-o:before,
.ebs-icon-cleaning:before,
.ebs-icon-close-rounded-solid:before,
.ebs-icon-close-rounded-stroked:before,
.ebs-icon-close:before,
.ebs-icon-customisation:before,
.ebs-icon-cutlery:before,
.ebs-icon-destinations:before,
.ebs-icon-divider-dots:before,
.ebs-icon-duration:before,
.ebs-icon-ebs-partner-logo:before,
.ebs-icon-economical:before,
.ebs-icon-email:before,
.ebs-icon-endpoint-blue:before,
.ebs-icon-endpoint-green:before,
.ebs-icon-endpoint:before,
.ebs-icon-envelop:before,
.ebs-icon-eye-closed:before,
.ebs-icon-eye-open:before,
.ebs-icon-facebook:before,
.ebs-icon-fan:before,
.ebs-icon-filter-stroked:before,
.ebs-icon-filter:before,
.ebs-icon-fireplace:before,
.ebs-icon-flag-icon:before,
.ebs-icon-fridge:before,
.ebs-icon-garden:before,
.ebs-icon-google-plus:before,
.ebs-icon-google:before,
.ebs-icon-guests-stroked:before,
.ebs-icon-guests:before,
.ebs-icon-gym:before,
.ebs-icon-heart-stroked:before,
.ebs-icon-heart:before,
.ebs-icon-highlight-blue:before,
.ebs-icon-highlight-green:before,
.ebs-icon-highlight-purple:before,
.ebs-icon-highlight:before,
.ebs-icon-highlight_purple:before,
.ebs-icon-highlights:before,
.ebs-icon-horse-riding:before,
.ebs-icon-implementation:before,
.ebs-icon-info:before,
.ebs-icon-instagram:before,
.ebs-icon-instant-booking:before,
.ebs-icon-instruction-language:before,
.ebs-icon-instructor:before,
.ebs-icon-internet:before,
.ebs-icon-kettle:before,
.ebs-icon-kitesurfing:before,
.ebs-icon-kneeboarding:before,
.ebs-icon-lake_surfing:before,
.ebs-icon-language-icon:before,
.ebs-icon-language:before,
.ebs-icon-large-selection:before,
.ebs-icon-laundry:before,
.ebs-icon-level-advanced:before,
.ebs-icon-level-beginner:before,
.ebs-icon-level-intermediate:before,
.ebs-icon-lightning-bolt:before,
.ebs-icon-like:before,
.ebs-icon-linkedin:before,
.ebs-icon-location:before,
.ebs-icon-locationstartpoint:before,
.ebs-icon-longboard_surfing:before,
.ebs-icon-menu-staggered:before,
.ebs-icon-message:before,
.ebs-icon-microwave:before,
.ebs-icon-minus-rounded:before,
.ebs-icon-minus:before,
.ebs-icon-new-location:before,
.ebs-icon-no-cc:before,
.ebs-icon-no-fees-icon:before,
.ebs-icon-no-smoking:before,
.ebs-icon-notepad:before,
.ebs-icon-parking-space:before,
.ebs-icon-pencil-square-o:before,
.ebs-icon-pencil:before,
.ebs-icon-pet:before,
.ebs-icon-phone-single:before,
.ebs-icon-phone:before,
.ebs-icon-picnic:before,
.ebs-icon-pin-regular:before,
.ebs-icon-pin-transport:before,
.ebs-icon-plus-rounded:before,
.ebs-icon-plus:before,
.ebs-icon-policy:before,
.ebs-icon-popularity:before,
.ebs-icon-post:before,
.ebs-icon-projection-screen:before,
.ebs-icon-recycling:before,
.ebs-icon-reviews-icon:before,
.ebs-icon-river_surfing:before,
.ebs-icon-rounded-lock:before,
.ebs-icon-route:before,
.ebs-icon-sauna:before,
.ebs-icon-search:before,
.ebs-icon-sec-arrow-down:before,
.ebs-icon-sec-arrow-left:before,
.ebs-icon-sec-arrow-right:before,
.ebs-icon-sec-arrow-up:before,
.ebs-icon-selectbox-arrow-down:before,
.ebs-icon-selectbox-arrow-up:before,
.ebs-icon-share-filled:before,
.ebs-icon-share:before,
.ebs-icon-shield:before,
.ebs-icon-shower:before,
.ebs-icon-shuffle:before,
.ebs-icon-shuttle-available:before,
.ebs-icon-shuttle-included:before,
.ebs-icon-skype:before,
.ebs-icon-spa:before,
.ebs-icon-special-menu:before,
.ebs-icon-spinner:before,
.ebs-icon-squared-lock:before,
.ebs-icon-standup_paddling:before,
.ebs-icon-star-icon:before,
.ebs-icon-startpoint-blue:before,
.ebs-icon-startpoint-green:before,
.ebs-icon-startpoint:before,
.ebs-icon-styles:before,
.ebs-icon-summary_beer:before,
.ebs-icon-summary_buffalo:before,
.ebs-icon-summary_calendar:before,
.ebs-icon-summary_chat:before,
.ebs-icon-summary_cheetah:before,
.ebs-icon-summary_coconut:before,
.ebs-icon-summary_eland:before,
.ebs-icon-summary_elephant:before,
.ebs-icon-summary_euro:before,
.ebs-icon-summary_food:before,
.ebs-icon-summary_gazelleg:before,
.ebs-icon-summary_gazellet:before,
.ebs-icon-summary_giraffe:before,
.ebs-icon-summary_hippo:before,
.ebs-icon-summary_hyena:before,
.ebs-icon-summary_idea:before,
.ebs-icon-summary_impala:before,
.ebs-icon-summary_leopard:before,
.ebs-icon-summary_lion:before,
.ebs-icon-summary_meal:before,
.ebs-icon-summary_nature:before,
.ebs-icon-summary_party:before,
.ebs-icon-summary_passport:before,
.ebs-icon-summary_person:before,
.ebs-icon-summary_pray:before,
.ebs-icon-summary_rhinob:before,
.ebs-icon-summary_rhinow:before,
.ebs-icon-summary_sun:before,
.ebs-icon-summary_surfboard:before,
.ebs-icon-summary_syringe:before,
.ebs-icon-summary_travel:before,
.ebs-icon-summary_wallet:before,
.ebs-icon-summary_wave:before,
.ebs-icon-summary_wellness:before,
.ebs-icon-summary_wildebeest:before,
.ebs-icon-summary_yoga1:before,
.ebs-icon-summary_yoga2:before,
.ebs-icon-summary_zebra:before,
.ebs-icon-surfing_styles:before,
.ebs-icon-swimming:before,
.ebs-icon-t-arrow-down:before,
.ebs-icon-t-arrow-right:before,
.ebs-icon-t-caret-down:before,
.ebs-icon-t-category:before,
.ebs-icon-t-cc:before,
.ebs-icon-t-check:before,
.ebs-icon-t-customer-service:before,
.ebs-icon-t-dashboard:before,
.ebs-icon-t-detox:before,
.ebs-icon-t-document:before,
.ebs-icon-t-group:before,
.ebs-icon-t-idea:before,
.ebs-icon-t-image:before,
.ebs-icon-t-itinerary:before,
.ebs-icon-t-languages:before,
.ebs-icon-t-location-outline-thin:before,
.ebs-icon-t-location:before,
.ebs-icon-t-luggage:before,
.ebs-icon-t-meals:before,
.ebs-icon-t-menu:before,
.ebs-icon-t-money:before,
.ebs-icon-t-newsletter:before,
.ebs-icon-t-price-tag:before,
.ebs-icon-t-prima:before,
.ebs-icon-t-review-bad:before,
.ebs-icon-t-review-okay:before,
.ebs-icon-t-review-perfect:before,
.ebs-icon-t-review-verygood:before,
.ebs-icon-t-secure-cart:before,
.ebs-icon-t-secure-computer:before,
.ebs-icon-t-secure:before,
.ebs-icon-t-star-empty:before,
.ebs-icon-t-star-full:before,
.ebs-icon-t-star-half:before,
.ebs-icon-t-suitcase:before,
.ebs-icon-t-thumbs-down:before,
.ebs-icon-t-thumbs-up:before,
.ebs-icon-t-trophy:before,
.ebs-icon-t-urgency:before,
.ebs-icon-t-user:before,
.ebs-icon-t-vegetarian:before,
.ebs-icon-t-wallet:before,
.ebs-icon-t-website:before,
.ebs-icon-t-wishlist-full:before,
.ebs-icon-t-wishlist:before,
.ebs-icon-tiny-arrow-down:before,
.ebs-icon-tiny-arrow-left:before,
.ebs-icon-tiny-arrow-right:before,
.ebs-icon-tiny-arrow-up:before,
.ebs-icon-toe_in_surfing:before,
.ebs-icon-toiletries:before,
.ebs-icon-towel:before,
.ebs-icon-tripaneer-favicon:before,
.ebs-icon-tripaneer-logo:before,
.ebs-icon-tripaneer-symbol:before,
.ebs-icon-tv:before,
.ebs-icon-twitter:before,
.ebs-icon-user-circle:before,
.ebs-icon-user:before,
.ebs-icon-verified:before,
.ebs-icon-video:before,
.ebs-icon-wakeboarding:before,
.ebs-icon-wave_surfing:before,
.ebs-icon-wetsuit-full:before,
.ebs-icon-wetsuit-half:before,
.ebs-icon-wetsuit-none:before,
.ebs-icon-wifi-1:before,
.ebs-icon-wifi:before,
.ebs-icon-windsurfing:before,
.ebs-icon-wine:before,
.ebs-icon-youtube:before,
[data-icon]:before {
  display: inline-block;
  font-family: ebs-fonticon;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.ebs-icon-1-star:before {
  content: "\f100";
}
.ebs-icon-2-star:before {
  content: "\f101";
}
.ebs-icon-3-star:before {
  content: "\f102";
}
.ebs-icon-4-star:before {
  content: "\f103";
}
.ebs-icon-5-star:before {
  content: "\f104";
}
.ebs-icon-accommodation:before {
  content: "\f105";
}
.ebs-icon-accommodation-blue:before {
  content: "\f106";
}
.ebs-icon-accommodation-front:before {
  content: "\f107";
}
.ebs-icon-accommodation-green:before {
  content: "\f108";
}
.ebs-icon-accomodation:before {
  content: "\f109";
}
.ebs-icon-air-conditioning:before {
  content: "\f10a";
}
.ebs-icon-airplane:before {
  content: "\f10b";
}
.ebs-icon-airplane-takeoff:before {
  content: "\f10c";
}
.ebs-icon-arrow-down:before {
  content: "\f10d";
}
.ebs-icon-arrow-gototop:before {
  content: "\f10e";
}
.ebs-icon-arrow-left:before {
  content: "\f10f";
}
.ebs-icon-arrow-right:before {
  content: "\f110";
}
.ebs-icon-arrow-up:before {
  content: "\f111";
}
.ebs-icon-article:before {
  content: "\f112";
}
.ebs-icon-atm:before {
  content: "\f113";
}
.ebs-icon-attachment:before {
  content: "\f114";
}
.ebs-icon-backpack:before {
  content: "\f115";
}
.ebs-icon-bathroom:before {
  content: "\f116";
}
.ebs-icon-bbq:before {
  content: "\f117";
}
.ebs-icon-beach:before {
  content: "\f118";
}
.ebs-icon-bed-type-bunk:before {
  content: "\f119";
}
.ebs-icon-bed-type-canopy:before {
  content: "\f11a";
}
.ebs-icon-bed-type-double:before {
  content: "\f11b";
}
.ebs-icon-bed-type-king-size:before {
  content: "\f11c";
}
.ebs-icon-bed-type-queen-size:before {
  content: "\f11d";
}
.ebs-icon-bed-type-single:before {
  content: "\f11e";
}
.ebs-icon-bed-type-sofa:before {
  content: "\f11f";
}
.ebs-icon-bed-type-twin:before {
  content: "\f120";
}
.ebs-icon-bell:before {
  content: "\f121";
}
.ebs-icon-bicycle:before {
  content: "\f122";
}
.ebs-icon-big_wave_surfing:before {
  content: "\f123";
}
.ebs-icon-bodyboarding:before {
  content: "\f124";
}
.ebs-icon-bolt:before {
  content: "\f125";
}
.ebs-icon-book:before {
  content: "\f126";
}
.ebs-icon-calendar:before {
  content: "\f127";
}
.ebs-icon-calendar-arrival:before {
  content: "\f128";
}
.ebs-icon-calendar-departure:before {
  content: "\f129";
}
.ebs-icon-calendar-small:before {
  content: "\f12a";
}
.ebs-icon-calendar-tiny:before {
  content: "\f12b";
}
.ebs-icon-call:before {
  content: "\f12c";
}
.ebs-icon-callus:before {
  content: "\f12d";
}
.ebs-icon-car-rental:before {
  content: "\f12e";
}
.ebs-icon-categories:before {
  content: "\f12f";
}
.ebs-icon-certified:before {
  content: "\f130";
}
.ebs-icon-check-circle:before {
  content: "\f131";
}
.ebs-icon-check-rounded-stroked:before {
  content: "\f132";
}
.ebs-icon-checked:before {
  content: "\f133";
}
.ebs-icon-checked-thin:before {
  content: "\f134";
}
.ebs-icon-checklist:before {
  content: "\f135";
}
.ebs-icon-circle-full:before {
  content: "\f136";
}
.ebs-icon-circle-o:before {
  content: "\f137";
}
.ebs-icon-cleaning:before {
  content: "\f138";
}
.ebs-icon-close:before {
  content: "\f139";
}
.ebs-icon-close-rounded-solid:before {
  content: "\f13a";
}
.ebs-icon-close-rounded-stroked:before {
  content: "\f13b";
}
.ebs-icon-customisation:before {
  content: "\f13c";
}
.ebs-icon-cutlery:before {
  content: "\f13d";
}
.ebs-icon-destinations:before {
  content: "\f13e";
}
.ebs-icon-divider-dots:before {
  content: "\f13f";
}
.ebs-icon-duration:before {
  content: "\f140";
}
.ebs-icon-ebs-partner-logo:before {
  content: "\f141";
}
.ebs-icon-economical:before {
  content: "\f142";
}
.ebs-icon-email:before {
  content: "\f143";
}
.ebs-icon-endpoint:before {
  content: "\f144";
}
.ebs-icon-endpoint-blue:before {
  content: "\f145";
}
.ebs-icon-endpoint-green:before {
  content: "\f146";
}
.ebs-icon-envelop:before {
  content: "\f147";
}
.ebs-icon-eye-closed:before {
  content: "\f148";
}
.ebs-icon-eye-open:before {
  content: "\f149";
}
.ebs-icon-facebook:before {
  content: "\f14a";
}
.ebs-icon-fan:before {
  content: "\f14b";
}
.ebs-icon-filter:before {
  content: "\f14c";
}
.ebs-icon-filter-stroked:before {
  content: "\f14d";
}
.ebs-icon-fireplace:before {
  content: "\f14e";
}
.ebs-icon-flag-icon:before {
  content: "\f14f";
}
.ebs-icon-fridge:before {
  content: "\f150";
}
.ebs-icon-garden:before {
  content: "\f151";
}
.ebs-icon-google:before {
  content: "\f152";
}
.ebs-icon-google-plus:before {
  content: "\f153";
}
.ebs-icon-guests:before {
  content: "\f154";
}
.ebs-icon-guests-stroked:before {
  content: "\f155";
}
.ebs-icon-gym:before {
  content: "\f156";
}
.ebs-icon-heart:before {
  content: "\f157";
}
.ebs-icon-heart-stroked:before {
  content: "\f158";
}
.ebs-icon-highlight:before {
  content: "\f159";
}
.ebs-icon-highlight-blue:before {
  content: "\f15a";
}
.ebs-icon-highlight-green:before {
  content: "\f15b";
}
.ebs-icon-highlight-purple:before {
  content: "\f15c";
}
.ebs-icon-highlight_purple:before {
  content: "\f15d";
}
.ebs-icon-highlights:before {
  content: "\f15e";
}
.ebs-icon-horse-riding:before {
  content: "\f15f";
}
.ebs-icon-implementation:before {
  content: "\f160";
}
.ebs-icon-info:before {
  content: "\f161";
}
.ebs-icon-instagram:before {
  content: "\f162";
}
.ebs-icon-instant-booking:before {
  content: "\f163";
}
.ebs-icon-instruction-language:before {
  content: "\f164";
}
.ebs-icon-instructor:before {
  content: "\f165";
}
.ebs-icon-internet:before {
  content: "\f166";
}
.ebs-icon-kettle:before {
  content: "\f167";
}
.ebs-icon-kitesurfing:before {
  content: "\f168";
}
.ebs-icon-kneeboarding:before {
  content: "\f169";
}
.ebs-icon-lake_surfing:before {
  content: "\f16a";
}
.ebs-icon-language:before {
  content: "\f16b";
}
.ebs-icon-language-icon:before {
  content: "\f16c";
}
.ebs-icon-large-selection:before {
  content: "\f16d";
}
.ebs-icon-laundry:before {
  content: "\f16e";
}
.ebs-icon-level-advanced:before {
  content: "\f16f";
}
.ebs-icon-level-beginner:before {
  content: "\f170";
}
.ebs-icon-level-intermediate:before {
  content: "\f171";
}
.ebs-icon-lightning-bolt:before {
  content: "\f172";
}
.ebs-icon-like:before {
  content: "\f173";
}
.ebs-icon-linkedin:before {
  content: "\f174";
}
.ebs-icon-location:before {
  content: "\f175";
}
.ebs-icon-locationstartpoint:before {
  content: "\f176";
}
.ebs-icon-longboard_surfing:before {
  content: "\f177";
}
.ebs-icon-menu-staggered:before {
  content: "\f178";
}
.ebs-icon-message:before {
  content: "\f179";
}
.ebs-icon-microwave:before {
  content: "\f17a";
}
.ebs-icon-minus:before {
  content: "\f17b";
}
.ebs-icon-minus-rounded:before {
  content: "\f17c";
}
.ebs-icon-new-location:before {
  content: "\f17d";
}
.ebs-icon-no-cc:before {
  content: "\f17e";
}
.ebs-icon-no-fees-icon:before {
  content: "\f17f";
}
.ebs-icon-no-smoking:before {
  content: "\f180";
}
.ebs-icon-notepad:before {
  content: "\f181";
}
.ebs-icon-parking-space:before {
  content: "\f182";
}
.ebs-icon-pencil:before {
  content: "\f183";
}
.ebs-icon-pencil-square-o:before {
  content: "\f184";
}
.ebs-icon-pet:before {
  content: "\f185";
}
.ebs-icon-phone:before {
  content: "\f186";
}
.ebs-icon-phone-single:before {
  content: "\f187";
}
.ebs-icon-picnic:before {
  content: "\f188";
}
.ebs-icon-pin-regular:before {
  content: "\f189";
}
.ebs-icon-pin-transport:before {
  content: "\f18a";
}
.ebs-icon-plus:before {
  content: "\f18b";
}
.ebs-icon-plus-rounded:before {
  content: "\f18c";
}
.ebs-icon-policy:before {
  content: "\f18d";
}
.ebs-icon-popularity:before {
  content: "\f18e";
}
.ebs-icon-post:before {
  content: "\f18f";
}
.ebs-icon-projection-screen:before {
  content: "\f190";
}
.ebs-icon-recycling:before {
  content: "\f191";
}
.ebs-icon-reviews-icon:before {
  content: "\f192";
}
.ebs-icon-river_surfing:before {
  content: "\f193";
}
.ebs-icon-rounded-lock:before {
  content: "\f194";
}
.ebs-icon-route:before {
  content: "\f195";
}
.ebs-icon-sauna:before {
  content: "\f196";
}
.ebs-icon-search:before {
  content: "\f197";
}
.ebs-icon-sec-arrow-down:before {
  content: "\f198";
}
.ebs-icon-sec-arrow-left:before {
  content: "\f199";
}
.ebs-icon-sec-arrow-right:before {
  content: "\f19a";
}
.ebs-icon-sec-arrow-up:before {
  content: "\f19b";
}
.ebs-icon-selectbox-arrow-down:before {
  content: "\f19c";
}
.ebs-icon-selectbox-arrow-up:before {
  content: "\f19d";
}
.ebs-icon-share:before {
  content: "\f19e";
}
.ebs-icon-share-filled:before {
  content: "\f19f";
}
.ebs-icon-shield:before {
  content: "\f1a0";
}
.ebs-icon-shower:before {
  content: "\f1a1";
}
.ebs-icon-shuffle:before {
  content: "\f1a2";
}
.ebs-icon-shuttle-available:before {
  content: "\f1a3";
}
.ebs-icon-shuttle-included:before {
  content: "\f1a4";
}
.ebs-icon-skype:before {
  content: "\f1a5";
}
.ebs-icon-spa:before {
  content: "\f1a6";
}
.ebs-icon-special-menu:before {
  content: "\f1a7";
}
.ebs-icon-spinner:before {
  content: "\f1a8";
}
.ebs-icon-squared-lock:before {
  content: "\f1a9";
}
.ebs-icon-standup_paddling:before {
  content: "\f1aa";
}
.ebs-icon-star-icon:before {
  content: "\f1ab";
}
.ebs-icon-startpoint:before {
  content: "\f1ac";
}
.ebs-icon-startpoint-blue:before {
  content: "\f1ad";
}
.ebs-icon-startpoint-green:before {
  content: "\f1ae";
}
.ebs-icon-styles:before {
  content: "\f1af";
}
.ebs-icon-summary_beer:before {
  content: "\f1b0";
}
.ebs-icon-summary_buffalo:before {
  content: "\f1b1";
}
.ebs-icon-summary_calendar:before {
  content: "\f1b2";
}
.ebs-icon-summary_chat:before {
  content: "\f1b3";
}
.ebs-icon-summary_cheetah:before {
  content: "\f1b4";
}
.ebs-icon-summary_coconut:before {
  content: "\f1b5";
}
.ebs-icon-summary_eland:before {
  content: "\f1b6";
}
.ebs-icon-summary_elephant:before {
  content: "\f1b7";
}
.ebs-icon-summary_euro:before {
  content: "\f1b8";
}
.ebs-icon-summary_food:before {
  content: "\f1b9";
}
.ebs-icon-summary_gazelleg:before {
  content: "\f1ba";
}
.ebs-icon-summary_gazellet:before {
  content: "\f1bb";
}
.ebs-icon-summary_giraffe:before {
  content: "\f1bc";
}
.ebs-icon-summary_hippo:before {
  content: "\f1bd";
}
.ebs-icon-summary_hyena:before {
  content: "\f1be";
}
.ebs-icon-summary_idea:before {
  content: "\f1bf";
}
.ebs-icon-summary_impala:before {
  content: "\f1c0";
}
.ebs-icon-summary_leopard:before {
  content: "\f1c1";
}
.ebs-icon-summary_lion:before {
  content: "\f1c2";
}
.ebs-icon-summary_meal:before {
  content: "\f1c3";
}
.ebs-icon-summary_nature:before {
  content: "\f1c4";
}
.ebs-icon-summary_party:before {
  content: "\f1c5";
}
.ebs-icon-summary_passport:before {
  content: "\f1c6";
}
.ebs-icon-summary_person:before {
  content: "\f1c7";
}
.ebs-icon-summary_pray:before {
  content: "\f1c8";
}
.ebs-icon-summary_rhinob:before {
  content: "\f1c9";
}
.ebs-icon-summary_rhinow:before {
  content: "\f1ca";
}
.ebs-icon-summary_sun:before {
  content: "\f1cb";
}
.ebs-icon-summary_surfboard:before {
  content: "\f1cc";
}
.ebs-icon-summary_syringe:before {
  content: "\f1cd";
}
.ebs-icon-summary_travel:before {
  content: "\f1ce";
}
.ebs-icon-summary_wallet:before {
  content: "\f1cf";
}
.ebs-icon-summary_wave:before {
  content: "\f1d0";
}
.ebs-icon-summary_wellness:before {
  content: "\f1d1";
}
.ebs-icon-summary_wildebeest:before {
  content: "\f1d2";
}
.ebs-icon-summary_yoga1:before {
  content: "\f1d3";
}
.ebs-icon-summary_yoga2:before {
  content: "\f1d4";
}
.ebs-icon-summary_zebra:before {
  content: "\f1d5";
}
.ebs-icon-surfing_styles:before {
  content: "\f1d6";
}
.ebs-icon-swimming:before {
  content: "\f1d7";
}
.ebs-icon-t-arrow-down:before {
  content: "\f1d8";
}
.ebs-icon-t-arrow-right:before {
  content: "\f1d9";
}
.ebs-icon-t-caret-down:before {
  content: "\f1da";
}
.ebs-icon-t-category:before {
  content: "\f1db";
}
.ebs-icon-t-cc:before {
  content: "\f1dc";
}
.ebs-icon-t-check:before {
  content: "\f1dd";
}
.ebs-icon-t-customer-service:before {
  content: "\f1de";
}
.ebs-icon-t-dashboard:before {
  content: "\f1df";
}
.ebs-icon-t-detox:before {
  content: "\f1e0";
}
.ebs-icon-t-document:before {
  content: "\f1e1";
}
.ebs-icon-t-group:before {
  content: "\f1e2";
}
.ebs-icon-t-idea:before {
  content: "\f1e3";
}
.ebs-icon-t-image:before {
  content: "\f1e4";
}
.ebs-icon-t-itinerary:before {
  content: "\f1e5";
}
.ebs-icon-t-languages:before {
  content: "\f1e6";
}
.ebs-icon-t-location:before {
  content: "\f1e7";
}
.ebs-icon-t-location-outline-thin:before {
  content: "\f1e8";
}
.ebs-icon-t-luggage:before {
  content: "\f1e9";
}
.ebs-icon-t-meals:before {
  content: "\f1ea";
}
.ebs-icon-t-menu:before {
  content: "\f1eb";
}
.ebs-icon-t-money:before {
  content: "\f1ec";
}
.ebs-icon-t-newsletter:before {
  content: "\f1ed";
}
.ebs-icon-t-price-tag:before {
  content: "\f1ee";
}
.ebs-icon-t-prima:before {
  content: "\f1ef";
}
.ebs-icon-t-review-bad:before {
  content: "\f1f0";
}
.ebs-icon-t-review-okay:before {
  content: "\f1f1";
}
.ebs-icon-t-review-perfect:before {
  content: "\f1f2";
}
.ebs-icon-t-review-verygood:before {
  content: "\f1f3";
}
.ebs-icon-t-secure:before {
  content: "\f1f4";
}
.ebs-icon-t-secure-cart:before {
  content: "\f1f5";
}
.ebs-icon-t-secure-computer:before {
  content: "\f1f6";
}
.ebs-icon-t-star-empty:before {
  content: "\f1f7";
}
.ebs-icon-t-star-full:before {
  content: "\f1f8";
}
.ebs-icon-t-star-half:before {
  content: "\f1f9";
}
.ebs-icon-t-suitcase:before {
  content: "\f1fa";
}
.ebs-icon-t-thumbs-down:before {
  content: "\f1fb";
}
.ebs-icon-t-thumbs-up:before {
  content: "\f1fc";
}
.ebs-icon-t-trophy:before {
  content: "\f1fd";
}
.ebs-icon-t-urgency:before {
  content: "\f1fe";
}
.ebs-icon-t-user:before {
  content: "\f1ff";
}
.ebs-icon-t-vegetarian:before {
  content: "\f200";
}
.ebs-icon-t-wallet:before {
  content: "\f201";
}
.ebs-icon-t-website:before {
  content: "\f202";
}
.ebs-icon-t-wishlist:before {
  content: "\f203";
}
.ebs-icon-t-wishlist-full:before {
  content: "\f204";
}
.ebs-icon-tiny-arrow-down:before {
  content: "\f205";
}
.ebs-icon-tiny-arrow-left:before {
  content: "\f206";
}
.ebs-icon-tiny-arrow-right:before {
  content: "\f207";
}
.ebs-icon-tiny-arrow-up:before {
  content: "\f208";
}
.ebs-icon-toe_in_surfing:before {
  content: "\f209";
}
.ebs-icon-toiletries:before {
  content: "\f20a";
}
.ebs-icon-towel:before {
  content: "\f20b";
}
.ebs-icon-tripaneer-favicon:before {
  content: "\f20c";
}
.ebs-icon-tripaneer-logo:before {
  content: "\f20d";
}
.ebs-icon-tripaneer-symbol:before {
  content: "\f20e";
}
.ebs-icon-tv:before {
  content: "\f20f";
}
.ebs-icon-twitter:before {
  content: "\f210";
}
.ebs-icon-user:before {
  content: "\f211";
}
.ebs-icon-user-circle:before {
  content: "\f212";
}
.ebs-icon-verified:before {
  content: "\f213";
}
.ebs-icon-video:before {
  content: "\f214";
}
.ebs-icon-wakeboarding:before {
  content: "\f215";
}
.ebs-icon-wave_surfing:before {
  content: "\f216";
}
.ebs-icon-wetsuit-full:before {
  content: "\f217";
}
.ebs-icon-wetsuit-half:before {
  content: "\f218";
}
.ebs-icon-wetsuit-none:before {
  content: "\f219";
}
.ebs-icon-wifi:before {
  content: "\f21a";
}
.ebs-icon-wifi-1:before {
  content: "\f21b";
}
.ebs-icon-windsurfing:before {
  content: "\f21c";
}
.ebs-icon-wine:before {
  content: "\f21d";
}
.ebs-icon-youtube:before {
  content: "\f21e";
}
