{% extends '../accommodations/accommodation-base.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block content %} 
<section class="admin-content -fullwidth js-active-tab-name" data-tab-name="Instructors">
    <ol class="breadcrumb">
      <li>
        <a href="/listing/instructors/all">Instructors</a>
      </li>
    </ol>
    <header class="row section-title">
      <div class="col-sm-9">
        <h1 class="catamaran"> Assign to Listing </h1>
      </div>
      <div class="col-sm-3"></div>
    </header>
    <div id="contact" data-organizer-id="23069" data-instructor-id="87030">
      <div class="panel">
        <style>
          .panel-video {
            width: 60%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }
        </style>
        <div class="panel-body -airy panel-video">
          <form id="instructor-information" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- First name -->
            <div class="row">
              <div class="form-group col-sm-6 col-lg-12">
                  {{ form.listings|as_crispy_field }}
              </div>
            </div>

            <!-- save button -->
            <div class="form-group pull-right">
              <button type="submit" class="btn btn-success">
                <i class="fa fa-spinner fa-spin hide js-save-spinner"></i> Save </button>
              <a href="/4/organizers/23069/instructors/" type="button" class="btn btn-danger">Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}